<template>
  <div class="card">
    <b-loading :active.sync="loading" :is-full-page="false"></b-loading>
    <div class="card-body p-3">
      <h4 class="card-title">New Organization</h4>
    </div>
    <div class="card-content">
      <form class="forms-sample" @submit.prevent="addOrganization">
        <b-field label="Organization Name">
          <b-input v-model="payload.name"></b-input>
        </b-field>
        <b-field label="Email Address">
          <b-input type="email" v-model="payload.email"></b-input>
        </b-field>
        <b-field label="Phone Number">
          <b-input type="tel" v-model="payload.phoneNumber"></b-input>
        </b-field>
        <b-field label="Location">
          <vue-google-autocomplete
            type="text"
            id="location"
            class="form-control"
            country="ng"
            v-on:placechanged="locationSelected"
          ></vue-google-autocomplete>
        </b-field>
        <b-field label="Password">
          <b-input type="password" v-model="payload.password" password-reveal></b-input>
        </b-field>
        <button type="submit" class="btn btn-success float-right my-1">Add</button>
      </form>
    </div>
  </div>
</template>

<script>
import organisationApi from "../../api/admin/organisations";
import VueGoogleAutocomplete from "vue-google-autocomplete";
import BLoading from "buefy/src/components/loading/Loading";
export default {
  components: { BLoading, VueGoogleAutocomplete },
  data() {
    return {
      payload: {
        name: "",
        email: "",
        password: "",
        phoneNumber: " ",
        location: {
          latitude: "",
          longitude: ""
        }
      },
      loading: false
    };
  },
  methods: {
    addOrganization() {
      this.loading = true;
      organisationApi
        .addOrganization(this.payload)
        .catch(this.showErrorToast)
        .finally((this.loading = false));
    },

    locationSelected(addressData) {
      this.payload.location = {
        latitude: addressData.latitude,
        longitude: addressData.longitude
      };
    },

    showErrorToast(message) {
      this.loading = false;
      this.$snackbar.open({
        message: message,
        type: "is-warning",
        position: "is-top-right",
        indefinite: true,
        queue: false
      });
    },

    fetchSectors() {
      this.loading = false;
      organisationApi
        .sectors()
        .then(data => (this.sectors = data))
        .catch(errorMessage => (this.errorMessage = errorMessage))
        .finally(() => (this.loading = false));
    }
  },
  beforeMount() {
    this.fetchSectors();
  }
};
</script>

<style>
</style>