<template>
  <div>
    <b-loading :active.sync="apiCallInProgress" :is-full-page="false"></b-loading>

    <div class="card" v-if="fetchICEError">
      <div class="card-body">
        <h4 class="card-title mb-4">Error getting ICEs</h4>
        <b-message type="is-danger">{{ fetchICEError }}</b-message>
      </div>
    </div>
    <section v-else>
      <b-tabs >
        <b-tab-item :label="firstTabLabel">
          <b-message v-if="beneficiariesUploadMessage" size="is-small" :type="beneficiariesUploadMessageType">
            {{ beneficiariesUploadMessage }}
          </b-message>

          <form @submit.prevent="saveOrUpdateBeneficiaryInfo" class="forms-sample">
            <div class="form-group">
              <label for="beneficiary-first-name">First Name</label>
              <input v-model="beneficiaryInfo.firstName" type="text" class="form-control" id="beneficiary-first-name"
                     placeholder="Beneficiary First Name" :disabled="editMode" required>
            </div>
            <div class="form-group">
              <label for="beneficiary-last-name">Last Name</label>
              <input v-model="beneficiaryInfo.lastName" type="text" class="form-control" id="beneficiary-last-name"
                     placeholder="Beneficiary Last Name" :disabled="editMode" required>
            </div>
            <div class="form-group">
              <label for="beneficiary-phone">Phone Number</label>
              <input v-model="beneficiaryInfo.phoneNumber" type="tel" class="form-control" id="beneficiary-phone"
                     placeholder="Beneficiary Phone Number" minlength="11" maxlength="11" :disabled="editMode" required>
            </div>
            <div class="form-group">
              <label for="ice-group">ICE</label>
              <b-taginput id="ice-group" placeholder="Enter ICE name or phone number" type="is-success" autocomplete attached
                          :data="filteredICEGroups" field="name" maxtags="1"
                          @typing="filterICEs" @add="iceSelected" @remove="cleanUpICESelectorUI">
                <template slot-scope="props">
                  {{props.option.name}} <span class="text-muted">{{props.option.phoneNumber}}</span>
                </template>
                <template slot="empty">
                  No matching ICE
                </template>
              </b-taginput>
            </div>
            <button type="submit" class="btn btn-dark  float-right">
              {{ editMode ? 'Update' : 'Add' }}
            </button>
          </form>
        </b-tab-item>

        <b-tab-item label="Upload from CSV" :visible="!editMode">
          <b-message v-if="beneficiariesCSVUploadMessage" size="is-small" :type="beneficiariesCSVUploadMessageType">{{
            beneficiariesCSVUploadMessage }}</b-message>
          <h4 class="card-title d-flex">
            <small class="ml-auto align-self-end">
              <a href="/beneficaries-sample.csv" class="font-weight-light" target="_blank">Download example csv</a>
            </small>
          </h4>
          <b-field>
            <b-upload v-model="csvFile" accept=".csv,.CSV" drag-drop>
              <section class="section">
                <div class="content has-text-centered">
                  <p>
                    <b-icon icon="upload" size="is-large"></b-icon>
                  </p>
                  <p>Drop your CSV file here or click to select from your file manager</p>
                </div>
              </section>
            </b-upload>
          </b-field>
          <div class="tags" v-if="csvFile">
              <span class="tag is-primary">
                {{ csvFile.name }}
                <button class="delete is-small" type="button" @click="csvFile = undefined"></button>
              </span>
            <button class="btn btn-dark ml-auto" @click="parseValidateAndUploadCSV">Upload</button>
          </div>
        </b-tab-item>
      </b-tabs>
    </section>
  </div>
</template>

<script>
  import BTabs from "buefy/src/components/tabs/Tabs";
  import BTabItem from "buefy/src/components/tabs/TabItem";
  import BTaginput from "buefy/src/components/taginput/Taginput";
  import BMessage from "buefy/src/components/message/Message";
  import BLoading from "buefy/src/components/loading/Loading";
  import BField from "buefy/src/components/field/Field";
  import BUpload from "buefy/src/components/upload/Upload";
  import BIcon from "buefy/src/components/icon/Icon";
  import Papa from "papaparse";
  import ices from '../../api/ices';
  import beneficiaries from '../../api/beneficiaries';

  export default {
    name: "add-edit-beneficiary-modal",
    components: { BIcon, BUpload, BField, BLoading, BMessage, BTaginput, BTabItem, BTabs },
    props: ['editBeneficiary'],
    data() {
      return {
        beneficiaryInfo: {
          firstName: '',
          lastName: '',
          phoneNumber: '',
          iceID: ''
        },
        csvFile: undefined,
        apiCallInProgress: false,
        fetchICEError: undefined,
        iceGroups: [],
        filteredICEGroups: [],
        beneficiariesUploadMessage: undefined,
        beneficiariesUploadMessageType: undefined,
        beneficiariesCSVUploadMessage: undefined,
        beneficiariesCSVUploadMessageType: undefined,
        editMode: false,
      }
    },
    methods: {
      filterICEs(query) {
        this.filteredICEGroups = this.iceGroups.filter(ice => {
          return ice.name.toLowerCase().indexOf(query.toLowerCase()) >= 0 ||
                  ice.phoneNumber.indexOf(query.toLowerCase()) >= 0;
        })
      },
      iceSelected(ice) {
        this.beneficiaryInfo.iceID = ice.id;
      },
      cleanUpICESelectorUI() {
        this.beneficiaryInfo.iceID = '';

        setTimeout(() => {
          document.querySelector('.taginput-container .autocomplete').classList.add('form-control');
          document.querySelector('.taginput-container input').classList.add('form-control');
        }, 10)
      },
      saveOrUpdateBeneficiaryInfo() {
        if (this.editMode) {
          this.updateBeneficiaryInfo([ this.beneficiaryInfo ]);
        }
        else {
          this.uploadNewBeneficiaryInfo([ this.beneficiaryInfo ]);
        }
      },
      sanitizePhoneNumber(phoneNumber) {
        if (phoneNumber.startsWith('+234')) {
          phoneNumber = '0' + phoneNumber.substr(4);
        }
        else if (phoneNumber.length === 10 && !phoneNumber.startsWith('0')) {
          phoneNumber = '0' + phoneNumber;
        }
        return phoneNumber;
      },
      parseValidateAndUploadCSV() {
        Papa.parse(this.csvFile, {
          header: true,
          trimHeaders: true,
          skipEmptyLines: true,
          transform: (value, col) => {
            if (col.toLowerCase().indexOf('phone') >= 0) {
              return this.sanitizePhoneNumber(value);
            }

            return value
          },
          complete: (results) => this.validateAndUploadCSVData(results.data, results.meta.fields),
          error: (error) => this.beneficiariesCSVUploadMessage = error.message
        });
      },
      validateAndUploadCSVData(data, columns) {
        let firstNameCol, lastNameCol, phoneNumberCol, iceGroupCol;
        for (const col of columns) {
          if (col.toLowerCase() === 'first name') {
            firstNameCol = col;
          }
          else if (col.toLowerCase() === 'last name') {
            lastNameCol = col;
          }
          else if (col.toLowerCase() === 'phone number') {
            phoneNumberCol = col;
          }
          else if (col.toLowerCase() === 'ice group name') {
            iceGroupCol = col;
          }
        }

        if (!firstNameCol || !phoneNumberCol || !iceGroupCol) {
          this.beneficiariesCSVUploadMessageType = 'is-danger';
          this.beneficiariesCSVUploadMessage = `CSV file does not contain 'First Name', 'Phone Number' and/or 'ICE Group Name' columns`;
          return;
        }

        const validData = data.map(beneficiary => {
          return {
            firstName: beneficiary[firstNameCol],
            lastName: lastNameCol ? beneficiary[lastNameCol] : undefined,
            phoneNumber: beneficiary[phoneNumberCol],
            iceGroup: beneficiary[iceGroupCol]
          }
        });
        this.uploadNewBeneficiaryInfo(validData, true);
      },
      uploadNewBeneficiaryInfo(data, isCSVUpload) {
        // clear error messages first
        if (isCSVUpload) {
          this.beneficiariesCSVUploadMessage = undefined;
        }
        else {
          this.beneficiariesUploadMessage = undefined;
        }

        beneficiaries.add(data)
            .then(data => {
              this.$emit("beneficiaries-updated");

              let report = 'Operation Successful.';
              if (data.failed > 0) {
                // check if some of the failed records are duplicates
                const nDuplicates = data.duplicates ? data.duplicates.split(',').length : 0;
                if (nDuplicates === 0) {
                  report += ` Ignored ${data.failed} invalid records`;
                }
                else {
                  report += ` Ignored ${nDuplicates} duplicate record(s) (${data.duplicates})`;

                  if (data.failed > nDuplicates) {
                    report += ` and ${data.failed - nDuplicates} invalid records`;
                  }
                }
              }

              if (isCSVUpload) {
                this.csvFile = undefined;
                this.beneficiariesCSVUploadMessage = report;
                this.beneficiariesCSVUploadMessageType = 'is-success';
              }
              else {
                this.beneficiaryInfo.name = '';
                this.beneficiaryInfo.phoneNumber = '';
                this.beneficiaryInfo.iceID = '';
                this.beneficiariesUploadMessage = report;
                this.beneficiariesUploadMessageType = 'is-success';
              }
            })
            .catch(error => {
              if (isCSVUpload) {
                this.beneficiariesCSVUploadMessage = error;
                this.beneficiariesCSVUploadMessageType = 'is-danger';
              }
              else {
                this.beneficiariesUploadMessage = error;
                this.beneficiariesUploadMessageType = 'is-danger';
              }
            })
      },
      updateBeneficiaryInfo(data) {
        // clear error messages first
        this.beneficiariesUploadMessage = undefined;

        beneficiaries.update(data)
            .then(() => {
              // pass true to parent component to show toast
              this.$emit("beneficiaries-updated", true);
              this.$parent.close();
            })
            .catch(error => {
              this.beneficiariesUploadMessage = error;
              this.beneficiariesUploadMessageType = 'is-danger';
            })
      }
    },
    computed: {
      firstTabLabel: function () {
        return this.editMode ? 'Change Beneficiary ICE' : 'Add Single Beneficiary';
      }
    },
    mounted() {
      this.cleanUpICESelectorUI();
      this.apiCallInProgress = true;
      ices.get()
          .then(data => this.iceGroups = data)
          .catch(error => this.fetchICEError = error)
          .finally(() => this.apiCallInProgress = false);

      // is this open for edit?
      if (this.editBeneficiary) {
        this.editMode = true;
        this.beneficiaryInfo = this.editBeneficiary;
        delete this.beneficiaryInfo.ice;
      }
    }
  }
</script>

<style lang="scss" scoped>
/deep/ {
  .b-tabs .tab-content {
    overflow-y: auto;
  }

  .taginput {
    .taginput-container {
      padding: 0 !important;
      border: none !important;
      box-shadow: none !important;

      .autocomplete {
        input {
          height: unset;
          margin: 0;
          padding: 0;
        }

        & > .control.is-loading::after {
          right: 0;
          top: 0;
        }
      }
    }

    .help.counter {
      display: none;
    }
  }
}
</style>