<template>
  <div class="card">
    <b-loading :active.sync="apiCallInProgress" :is-full-page="false"></b-loading>

    <div class="card-body p-3">
      <b-message v-if="message" :type="messageType" size="is-small">{{ message }}</b-message>
      <h4 class="card-title mb-4">Add ICE Group</h4>
      <form @submit.prevent="addOrUpdateICE" class="forms-sample">
        <div class="form-group">
          <label for="ice-name">ICE Name</label>
          <input v-model="iceName" type="text" class="form-control" id="ice-name" placeholder="ICE Name" required>
        </div>
        <div class="form-group">
          <label for="ice-group">ICE Phone Numbers (separate with comma)</label>
          <b-taginput id="ice-group" placeholder="Phone number" v-model="icePhoneNumbers"></b-taginput>
        </div>
        <button type="submit" class="btn btn-dark float-right">
          {{ editICE ? 'Update' : 'Add' }}
        </button>
      </form>
    </div>
  </div>
</template>

<script>
  import BLoading from "buefy/src/components/loading/Loading";
  import BMessage from "buefy/src/components/message/Message";
  import ices from '../../api/ices'
  import BTaginput from "buefy/src/components/taginput/Taginput";

  export default {
    name: "add-ice-modal",
    components: { BTaginput, BMessage, BLoading },
    props: ['editICE'],
    data() {
      return {
        apiCallInProgress: false,
        iceName: undefined,
        icePhoneNumbers: [],
        editMode: false,
        message: undefined,
        messageType: 'is-danger'
      }
    },
    methods: {
      addOrUpdateICE() {
        if (this.icePhoneNumbers.length === 0) {
          this.message = 'Add at least 1 ICE Phone Number';
          return;
        }

        this.message = undefined;
        this.apiCallInProgress = true;

        if (this.editICE) {
          this.updateICE();
        }
        else {
          this.addICE();
        }
      },
      addICE() {
        ices.add(this.iceName, this.icePhoneNumbers.join(','))
            .then(data => {
              this.$emit('ice-updated', data);
              this.$parent.close();
            })
            .catch(errorMessage => {
              this.message = errorMessage;
              this.messageType = 'is-danger';
            })
            .finally(() => this.apiCallInProgress = false)
      },
      updateICE() {
        ices.update(this.editICE.id, this.iceName, this.icePhoneNumbers.join(','))
            .then(data => {
              this.$emit('ice-updated', data);
              this.$parent.close();
            })
            .catch(errorMessage => {
              this.message = errorMessage;
              this.messageType = 'is-danger';
            })
            .finally(() => this.apiCallInProgress = false)
      }
    },
    mounted() {
      // is this open for edit?
      if (this.editICE) {
        this.iceName = this.editICE.name;
        this.icePhoneNumbers = this.editICE.phoneNumber.split(',')
      }
    }
  }
</script>

<style lang="scss" scoped>
  /deep/ .taginput .taginput-container {
    font-size: 0.9rem;
    padding: 4px;

    .tag {
      height: 100%;
    }

    input {
      margin-bottom: 0;
      font-size: 0.9rem;
    }
  }
</style>