<template>
  <div class="card">
    <b-loading :active.sync="loading" :is-full-page="false"></b-loading>
    <div class="card-body p-3">
      <h4 class="card-title">Organisational Sector</h4>
    </div>
    <div class="card-content">
      <form class="forms-sample" @submit.prevent="addSectors">
        <div class="form-group">
          <label for="sector">Add sectors (seperate with comma)</label>
          <b-taginput v-model="newSectors" placeholder="e.g. Entertainment, Technology"></b-taginput>
          <button class="btn btn-dark float-right my-1">Add</button>
        </div>
      </form>

      <b-table paginated :data="sectors" :default-sort="['name', 'asc']" per-page="3">
        <template slot-scope="props">
          <b-table-column field="name" label="Sectors" sortable>{{ props.row }}</b-table-column>
          <b-table-column>
            <button class="btn btn-danger" @click="deleteSector(props.row)">Remove</button>
          </b-table-column>
        </template>
      </b-table>
    </div>
  </div>
</template>

<script>
import organisationApi from "../../api/admin/organisations";
import BLoading from "buefy/src/components/loading/Loading";
import BTable from "buefy/src/components/table/Table";
import BTaginput from "buefy/src/components/taginput/Taginput";
export default {
  components: { BTable, BLoading, BTaginput },
  data() {
    return {
      sectors: [],
      newSectors: "",
      loading: false
    };
  },
  methods: {
    addSectors() {
      this.loading = true;
      organisationApi
        .addSectors(this.newSectors)
        .catch(this.showErrorToast)
        .finally(() => (this.newSectors = ""), this.fetchSectors());
    },

    deleteSector(value) {
      this.loading = true;
      organisationApi
        .deleteSector(value)
        .catch(this.showErrorToast)
        .finally(() => this.fetchSectors());
    },

    showErrorToast(message) {
      this.$snackbar.open({
        message: message,
        type: "is-warning",
        position: "is-top-right",
        indefinite: true,
        queue: false
      });
    },

    fetchSectors() {
      this.loading = false;
      organisationApi
        .sectors()
        .then(data => (this.sectors = data))
        .catch(errorMessage => (this.errorMessage = errorMessage))
        .finally(() => (this.loading = false));
    }
  },
  beforeMount() {
    this.fetchSectors();
  }
};
</script>

<style>
</style>