<template>
  <div class="card">
    <div class="card-content">
      <h5>Username: {{data.userName}}</h5>
      <br />
      <h5>Call Date: {{parseDate(data.callDate)}}</h5>
      <br />
      <h5>Number of ICEs Notified: {{data.icesNotified}}</h5>
      <br />
      <h5>Number of Organisations Notified: {{data.organizationsNotified}}</h5>
      <br />
      <h5>ICEs Phone numbers Notified: {{formatNumbers(data.icePhoneNumbersNotified)}}</h5>
      <br />
      <h5>Status: {{data.status}}</h5>
    </div>
  </div>
</template>

<script>
import moment from "moment";
export default {
  props: ["data"],
  name: "CallsViewModal",
  methods: {
    parseDate(timestamp) {
      return moment(+timestamp).calendar(null, {
        sameDay: "[Today]",
        nextDay: "[Tomorrow]",
        nextWeek: "[Next ] ddd",
        lastDay: "[Yesterday]",
        lastWeek: "[Last] ddd",
        sameElse: "ddd, Do MMM, YYYY"
      });
    },
    formatNumbers(value) {
      if (value <= 0) return "None";
      else return value;
    }
  }
};
</script>

<style>
</style>