<template>
  <b-modal :active.sync="show" :width="381">
    <button @click="$emit('clicked', 'pdf')" class="confirm-button">PDF</button>
    <button @click="$emit('clicked', 'csv')" class="confirm-button">CSV</button>
  </b-modal>
</template>

<script>
import BModal from "buefy/src/components/modal/Modal";
export default {
  props: {
    show: {
      type: Boolean
    }
  }
};
</script>

<style scoped>
.confirm-button {
  height: 70px;
  width: 70px;
}
.animation-content .modal-content {
  display: flex;
  flex-direction: row !important;
  background: red;
}
</style>