<template>
  <div class="card">
    <div class="card-content">
      <h5>Name: {{data.firstName}} {{data.lastName}}</h5>
      <br />
      <h5>Phone Number: {{data.phoneNumber}}</h5>
      <br />
      <h5>Account Creation Date: {{parseDate(data.accountCreationDate)}}</h5>
      <br />
      <h5>Seclot ID: {{data.seclotId}}</h5>
      <br />
      <h5>Wallet Balance: {{data.walletBalance | formatToNaira || '-'}}</h5>
      <br />
      <h5>Last Location Update: {{parseDate(data.lastLocationUpdate)}}</h5>
      <br />
      <h5>Subscription Status: {{data.subscriptionStatus}}</h5>
    </div>
  </div>
</template>

<script>
import moment from "moment";
export default {
  props: ["data"],
  methods: {
    parseDate(timestamp) {
      return moment(+timestamp).calendar(null, {
        sameDay: "[Today]",
        nextDay: "[Tomorrow]",
        nextWeek: "[Next ] ddd",
        lastDay: "[Yesterday]",
        lastWeek: "[Last] ddd",
        sameElse: "ddd, Do MMM, YYYY"
      });
    }
  },
  filters: {
    formatToNaira(value) {
      return value
        .toLocaleString("en-NG", { style: "currency", currency: "NGN" })
        .slice(0, -3);
    }
  }
};
</script>

<style>
</style>