<template>
  <div class="card">
    <h4 class="card-title mb-0 my-4 text-center">{{data.firstName}}'s ICEs</h4>
    <b-loading :active.sync="loading" :is-full-page="false"></b-loading>
    <div class="card" v-if="fetchICEError">
      <div class="card-body">
        <h4 class="card-title mb-4">Error getting ICEs</h4>
        <b-message type="is-danger">{{ fetchICEError }}</b-message>
      </div>
    </div>
    <b-table paginated :data="tableData" :default-sort="['name', 'asc']" per-page="5">
      <template slot-scope="props">
        <b-table-column field="firstName" label="Name" sortable>{{ props.row.name }}</b-table-column>

        <b-table-column
          field="phoneNumber"
          label="Phone Number"
          sortable
        >{{ props.row.phoneNumber }}</b-table-column>

        <b-table-column label="Status">
          <span class="badge badge-danger" v-if="props.row.paused">Paused</span>
          <span class="badge badge-success" v-else>Active</span>
        </b-table-column>
      </template>
    </b-table>
  </div>
</template>

<script>
import api from "../../api/admin/ices";
export default {
  props: ["data"],
  data() {
    return {
      tableData: [],
      loading: true,
      fetchICEError: ""
    };
  },
  beforeMount() {
    api
      .getICES(this.data.phoneNumber)
      .then(data => (this.tableData = data.userICEs))
      .catch(errorMessage => (this.fetchICEError = errorMessage))
      .finally(() => (this.loading = false));
  }
};
</script>

<style>
</style>