<template>
  <div class="card">
    <b-loading :active.sync="subscriptionInProgress" :is-full-page="false"></b-loading>

    <div class="card-body">
      <p class="title is-5">Subscription Plans</p>

      <b-message v-if="message" :type="messageType" size="is-small">{{ message }}</b-message>

      <ul class="list-group list-group-flush" v-if="subscriptionPlans.length">
        <li class="list-group-item" v-for="plan of subscriptionPlans" :key="plan.name">
          <div class="d-flex justify-content-between align-items-center">
            <div>
              {{ plan.name }}
              <p class="text-muted my-0">
                &#8358;{{ plan.amount }} {{ plan.frequency }}
              </p>
            </div>
            <button v-if="currentPlan === plan.name" disabled class="btn btn-sm btn-primary">Subscribed</button>
            <button v-else class="btn btn-sm btn-primary" @click="activateSubscriptionPlan(plan)">Subscribe</button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
  import BLoading from "buefy/src/components/loading/Loading"
  import wallet from '../../api/wallet'
  import BMessage from "buefy/src/components/message/Message";

  export default {
    components: {BMessage, BLoading},
    props: [ 'subscriptionPlans', 'currentPlan' ],
    data() {
      return {
        subscriptionInProgress: false,
        message: undefined,
        messageType: undefined
      }
    },
    methods: {
      activateSubscriptionPlan(plan) {
        this.subscriptionInProgress = true;

        wallet.activateSubscriptionPlan(plan.frequency)
            .then(data => {
              this.$emit('plan-activated', data);
              this.messageType = 'is-success';
              this.message = 'Plan Activated Successfully';
              setTimeout(this.$parent.close, 500);
            })
            .catch(error => {
              this.messageType = 'is-danger';
              this.message = error;
            })
            .finally(() => this.subscriptionInProgress = false)
      },
    }
  }
</script>

<style scoped>

</style>