<template>
  <div class="card">
    <div class="card-content">
      <h5>Organization Name: {{data.name}}</h5>
      <br />
      <h5>Email Address: {{data.email}}</h5>
      <br />
      <h5>Phone Number: {{data.phoneNumber}}</h5>
      <br />
      <h5>Location: {{data.location}}</h5>
      <br />
      <h5>Seclot ID: {{data.id}}</h5>
    </div>
  </div>
</template>

<script>
import moment from "moment";
export default {
  props: ["data"],
  methods: {
    parseDate(timestamp) {
      return moment(+timestamp).calendar(null, {
        sameDay: "[Today]",
        nextDay: "[Tomorrow]",
        nextWeek: "[Next ] ddd",
        lastDay: "[Yesterday]",
        lastWeek: "[Last] ddd",
        sameElse: "ddd, Do MMM, YYYY"
      });
    }
  },
  filters: {
    formatToNaira(value) {
      return value
        .toLocaleString("en-NG", { style: "currency", currency: "NGN" })
        .slice(0, -3);
    }
  }
};
</script>

<style>
</style>