<template>
  <div class="card">
    <div class="card-content">
      <h5>Account Name: {{data.account.name}}</h5>
      <br />
      <h5>Account Type: {{data.account.type}}</h5>
      <br />
      <h5>Amount: {{data.amount | formatToNaira}}</h5>
      <br />
      <h5>Description: {{data.shortDescription}}</h5>
      <br />
      <h5>More Details: {{data.longDescription}}</h5>
      <br />
      <h5>Payment Date: {{parseDate(data.paymentDate)}}</h5>
      <br />
      <h5>Transaction Type: {{data.txType}}</h5>
    </div>
  </div>
</template>

<script>
import moment from "moment";
export default {
  props: ["data"],
  methods: {
    parseDate(timestamp) {
      return moment(+timestamp).calendar(null, {
        sameDay: "[Today]",
        nextDay: "[Tomorrow]",
        nextWeek: "[Next ] ddd",
        lastDay: "[Yesterday]",
        lastWeek: "[Last] ddd",
        sameElse: "ddd, Do MMM, YYYY"
      });
    }
  },
  filters: {
    formatToNaira(value) {
      return value
        .toLocaleString("en-NG", { style: "currency", currency: "NGN" })
        .slice(0, -3);
    }
  }
};
</script>

<style>
</style>