<template>
  <div class="card">
    <div class="card-content">
      <h5>Name: {{data.name}}</h5>
      <br />
      <h5>Phone Number: {{data.phoneNumber}}</h5>
      <br />
      <h5>Date Created: {{parseDate(data.dateAdded)}}</h5>
      <br />
      <h5>Created By</h5>
      <br />
      <h5>Name: {{data.addedBy.accountName}}</h5>
      <br />
      <h5>User Type: {{data.addedBy.accountType}}</h5>
    </div>
  </div>
</template>

<script>
import moment from "moment";
export default {
  props: ["data"],
  methods: {
    parseDate(timestamp) {
      return moment(+timestamp).calendar(null, {
        sameDay: "[Today]",
        nextDay: "[Tomorrow]",
        nextWeek: "[Next ] ddd",
        lastDay: "[Yesterday]",
        lastWeek: "[Last] ddd",
        sameElse: "ddd, Do MMM, YYYY"
      });
    }
  }
};
</script>

<style>
</style>