<template>
  <div class="card">
    <b-loading :active.sync="apiCallInProgress" :is-full-page="false"></b-loading>

    <div class="card-body p-3">
      <h4 class="card-title mb-4">Top Up Wallet</h4>
      <b-message v-if="errorMessage" type="is-danger" size="is-small">{{ errorMessage }}</b-message>

      <div class="form-group">
        <label for="amount">Amount</label>
        <input v-model.lazy="amount" v-money="formatAmount" class="form-control" id="amount" placeholder="Amount" required>
      </div>

      <paystack :disabled="!amount || +amount <= 0" class="btn btn-dark"
              :amount="paystackAmount * 100"
              :email="email"
              :paystackkey="paystackKey"
              :reference="''"
              :callback="paymentSuccessful"
              :close="undefined"
              :embed="false">
        Top Up
      </paystack>
    </div>
  </div>
</template>

<script>
  import Paystack from 'vue-paystack'
  import wallet from '../../api/wallet'
  import BLoading from "buefy/src/components/loading/Loading"
  import BMessage from "buefy/src/components/message/Message"
  import { VMoney } from 'v-money'

  export default {
    name: "wallet-topup",
    components: { BMessage, BLoading, Paystack },
    directives: { money: VMoney },
    data() {
      return {
        amount: '',
        formatAmount: {
          prefix: '₦ ',
          precision: 0
        },
        initPayment: false,
        apiCallInProgress: false,
        errorMessage: undefined
      }
    },
    methods: {
      paymentSuccessful(response) {
        this.apiCallInProgress = true;

        wallet.topUpWallet(response.reference)
            .then(data => {
              this.$emit('wallet-funded', data);
              setTimeout(this.$parent.close, 500);
            })
            .catch(error => this.errorMessage = error)
            .finally(() => this.apiCallInProgress = false)
      }
    },
    computed: {
      email: function () {
        return this.$store.state.profile.email;
      },
      paystackKey: function () {
        return process.env.VUE_APP_PAYSTACK_KEY;
      },
      paystackAmount: function () {
        return this.amount.replace(/\D/g,'');
      }
    }
  }
</script>

<style scoped>

</style>