<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico" />
    <title>Seclot</title>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBCgniN7uvtG34bTwysE9vAfy3VQNT1ffM&libraries=places"></script>
  </head>
  <body>
    <noscript>
      <strong
        >We're sorry but Seclot doesn't work properly without JavaScript
        enabled. Please enable it to continue.</strong
      >
    </noscript>

    <!-- built files will be auto injected -->
    <div id="app"></div>
  </body>
</html>
