<template>
  <div class="content-wrapper">
    <b-loading :active.sync="apiCallInProgress" :is-full-page="false"></b-loading>

    <div class="row mb-4">
      <div class="col-12 d-flex align-items-center justify-content-between">
        <h4 class="page-title">Beneficiaries</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-12 grid-margin">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <h4 class="card-title">
                <button class="btn btn-dark" @click="openBeneficiaryModal = true">Add Beneficiaries</button>
                &nbsp;
                <button class="btn btn-success">
                  <download-csv
                    :data="beneficiaries"
                    name="Beneficiary-Report.csv"
                  >Download CSV Report</download-csv>
                </button>
              </h4>

              <b-modal :active.sync="openBeneficiaryModal" width="400px">
                <add-edit-beneficiary-modal
                  v-on:beneficiaries-updated="reloadBeneficiaries"
                  :editBeneficiary="editBeneficiary"
                ></add-edit-beneficiary-modal>
              </b-modal>

              <div
                class="btn-toolbar mb-0 d-none d-sm-block"
                role="toolbar"
                aria-label="Toolbar with button groups"
              >
                <div class="form-group mb-0">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="mdi mdi-magnify"></i>
                      </span>
                    </div>
                    <input
                      v-model="searchQuery"
                      type="text"
                      class="form-control"
                      placeholder="Search"
                    />
                  </div>
                </div>
              </div>
            </div>

            <b-table :paginated="true" per-page="10" :data="filteredBeneficiaries">
              <template slot-scope="props">
                <b-table-column width="40" label="#">{{ props.index + 1 }}</b-table-column>

                <b-table-column
                  field="name"
                  label="Name"
                  sortable
                >{{ props.row.firstName }} {{ props.row.lastName }}</b-table-column>

                <b-table-column
                  field="phoneNumber"
                  label="Phone Number"
                  sortable
                >{{ props.row.phoneNumber }}</b-table-column>

                <b-table-column field="ice.name" label="ICE Group" sortable>
                  <span
                    :class="{ 'badge badge-danger': !props.row.ice }"
                  >{{ props.row.ice ? props.row.ice.name : 'No ICE Assigned' }}</span>
                </b-table-column>

                <b-table-column label="Status">
                  <span class="badge badge-danger" v-if="props.row.organizationDisabled">Disabled</span>
                  <span class="badge badge-success" v-else>Active</span>
                </b-table-column>

                <b-table-column label="Actions">
                  <button
                    class="btn btn-sm btn-success mr-3"
                    @click="enable(props.row)"
                    v-if="props.row.organizationDisabled"
                  >Enable</button>
                  <button
                    class="btn btn-sm btn-danger mr-3"
                    @click="disable(props.row)"
                    v-else
                  >Disable</button>
                  <button class="btn btn-sm btn-info" @click="edit(props.row)">Change ICE</button>
                </b-table-column>
              </template>
            </b-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import BLoading from "buefy/src/components/loading/Loading";
import BTable from "buefy/src/components/table/Table";
import BTableColumn from "buefy/src/components/table/TableColumn";
import BModal from "buefy/src/components/modal/Modal";
import beneficiaries from "../api/beneficiaries";
import AddEditBeneficiaryModal from "../components/modals/add-edit-beneficiary";

export default {
  components: {
    AddEditBeneficiaryModal,
    BModal,
    BTable,
    BTableColumn,
    BLoading
  },
  data() {
    return {
      apiCallInProgress: false,
      searchQuery: "",
      beneficiaries: [],
      openBeneficiaryModal: false,
      editBeneficiary: undefined,
      downloadingReport: false
    };
  },
  methods: {
    reloadBeneficiaries(showToast) {
      if (showToast) {
        this.showSuccessToast();
      }
      beneficiaries.get().listen(false, true);
    },
    edit(beneficiary) {
      this.editBeneficiary = beneficiary;
      this.openBeneficiaryModal = true;
    },
    enable(beneficiary) {
      beneficiaries
        .enable([beneficiary])
        .then(data => {
          this.reloadBeneficiaries();
          return data;
        })
        .listen();
    },
    disable(beneficiary) {
      beneficiaries
        .disable([beneficiary])
        .then(data => {
          this.reloadBeneficiaries();
          return data;
        })
        .listen();
    },
    showSuccessToast() {
      this.$toast.open({
        message: "Operation Successful",
        type: "is-success",
        position: "is-top-right",
        queue: false
      });
    },
    showErrorToast(message) {
      this.$snackbar.open({
        message: message,
        type: "is-warning",
        position: "is-top-right",
        indefinite: true,
        queue: false
      });
    },
    apiRequestListener(apiRequest, showToastOnSuccess, runInBackground) {
      this.apiCallInProgress = !runInBackground;

      return apiRequest
        .then(data => {
          this.beneficiaries = data;
          this.apiCallInProgress = false;

          if (showToastOnSuccess !== false) {
            this.showSuccessToast();
          }
        })
        .catch(errorMessage => {
          this.apiCallInProgress = false;
          this.showErrorToast(errorMessage);
        });
    },
    setUpAPIRequestListener() {
      const apiRequestListener = this.apiRequestListener;

      Promise.prototype.listen = function(showToastOnSuccess) {
        return apiRequestListener(this, showToastOnSuccess);
      };
    }
  },
  computed: {
    filteredBeneficiaries: function() {
      const query = this.searchQuery.toLowerCase();
      if (query === "") {
        return this.beneficiaries;
      }

      return this.beneficiaries.filter(b => {
        return (
          b.name.toLowerCase().indexOf(query) >= 0 ||
          b.phoneNumber.indexOf(query) >= 0 ||
          b.ice.name.toLowerCase().indexOf(query) >= 0 ||
          b.ice.phoneNumber.indexOf(query) >= 0
        );
      });
    }
  },
  watch: {
    openBeneficiaryModal(open) {
      if (!open) {
        // unset edit beneficiary on modal close
        this.editBeneficiary = undefined;
      }
    }
  },
  beforeMount() {
    this.setUpAPIRequestListener();
    beneficiaries.get().listen(false);
  }
};
</script>

<style scoped>
span.icon {
  cursor: pointer;
}
</style>