<template>
  <div class="container-scroller">
    <b-loading
      :is-full-page="true"
      :active.sync="apiCallInProgress"
      :can-cancel="false"
    ></b-loading>
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper auth p-0 theme-two">
        <div class="row d-flex align-items-stretch">
          <div class="col-12 h-100 bg-white">
            <div
              class="auto-form-wrapper d-flex align-items-center justify-content-center flex-column"
            >
              <div class="nav-get-started">
                <p>Don't have an account?</p>
                <router-link to="register" class="btn get-started-btn"
                  >GET STARTED</router-link
                >
              </div>
              <div class="row">
                <h3 class="text-center">Organisation Login</h3>
              </div>
              <p class="mb-5 text-center">
                Wait a sec while we verify your token.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
</template>

<script>
import authentication from '../api/authentication'
import BLoading from 'buefy/src/components/loading/Loading'
export default {
  components: {BLoading},
  data() {
    return {
      token: this.$route.query.token,
      alertMessage: undefined,
      alertType: '',
      apiCallInProgress: false,
    }
  },
  mounted() {
    this.confirm()
  },
  methods: {
    confirm() {
      this.alertMessage = undefined
      this.apiCallInProgress = true

      authentication
        .confirm(this.token)
        .then(this.successfulLogin)
        .catch(this.failedLogin)
    },
    successfulLogin(authResponse) {
      this.alertType = 'is-success'
      this.alertMessage = `${authResponse.message}`
      setTimeout(() => this.$router.push('/login'), 1000)
    },
    failedLogin(error) {
      this.alertType = 'is-danger'
      this.alertMessage = `${error}`
      this.apiCallInProgress = false
    },
  },
}
</script>
