<template>
  <div class="content-wrapper">
    <b-loading :active.sync="loading" :is-full-page="false"></b-loading>

    <div class="row mb-4">
      <div class="col-12 d-flex align-items-center justify-content-between">
        <h4 class="page-title">Dashboard</h4>
      </div>
    </div>
    <b-message v-if="errorMessage" type="is-danger" size="is-small">{{ errorMessage }}</b-message>
    <div class="row">
      <div class="col-md-4 grid-margin">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title mb-0">Distress Calls</h4>
            <div class="d-flex justify-content-between align-items-center">
              <div class="d-inline-block pt-3">
                <div class="d-flex">
                  <h2 class="mb-0">{{ dashboardData.distressCalls.length }}</h2>
                </div>
              </div>
              <div class="d-inline-block">
                <div class="bg-danger px-4 py-2 rounded">
                  <i class="mdi mdi-alert text-white icon-lg"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 grid-margin">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title mb-0">ICEs</h4>
            <div class="d-flex justify-content-between align-items-center">
              <div class="d-inline-block pt-3">
                <div class="d-flex">
                  <h2 class="mb-0">{{ dashboardData.icesCount }}</h2>
                </div>
              </div>
              <div class="d-inline-block">
                <div class="bg-warning px-4 py-2 rounded">
                  <i class="mdi mdi-account-card-details text-white icon-lg"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 grid-margin">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title mb-0">Beneficiaries</h4>
            <div class="d-flex justify-content-between align-items-center">
              <div class="d-inline-block pt-3">
                <div class="d-flex">
                  <h2 class="mb-0">{{ dashboardData.beneficiariesCount }}</h2>
                </div>
              </div>
              <div class="d-inline-block">
                <div class="bg-success px-4 py-2 rounded">
                  <i class="mdi mdi-contacts text-white icon-lg"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="card support-pane-card">
          <div class="card-body">
            <h4 class="card-title">Distress Call History</h4>
            <div class="d-flex justify-content-between align-items-center mb-3">
              <button class="btn btn-success">
                <download-csv
                  :data="dashboardData.distressCalls"
                  name="Distress-Calls-Report.csv"
                >Download CSV Report</download-csv>
              </button>
              <div
                class="btn-toolbar mb-0 d-none d-sm-block"
                role="toolbar"
                aria-label="Toolbar with button groups"
              >
                <div class="form-group mb-0">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="mdi mdi-magnify"></i>
                      </span>
                    </div>
                    <input
                      v-model="searchQuery"
                      type="text"
                      class="form-control"
                      placeholder="Search"
                    />
                  </div>
                </div>
              </div>
            </div>

            <b-table :paginated="true" per-page="5" :data="filteredDistressCalls">
              <template slot-scope="props">
                <b-table-column width="40">
                  <img v-if="props.row.beneficiary.picture" :src="props.row.beneficiary.picture" />
                  <div
                    v-else
                    class="img-sm rounded-circle d-flex align-items-center justify-content-center text-white"
                    :class="`bg-${getStatusColor(props.row.status)}`"
                  >{{ props.row.beneficiary.firstName.substr(0, 1) }}{{ props.row.beneficiary.lastName.substr(0, 1) }}</div>
                </b-table-column>

                <b-table-column field="beneficiary.firstName" label="Beneficiary" sortable>
                  {{ props.row.beneficiary.firstName }} {{ props.row.beneficiary.lastName }}
                  <br />
                  <p class="text-muted mt-2 mb-0">SECLOT ID: {{ props.row.beneficiary.seclotId }}</p>
                </b-table-column>

                <b-table-column field="callDate" label="Date" sortable>
                  {{ parseDate(props.row.callDate) }}
                  <br />
                  <p class="text-muted mt-2 mb-0">{{ parseTime(props.row.callDate) }}</p>
                </b-table-column>

                <b-table-column field="status" label="Status" sortable centered>
                  <span
                    class="tag"
                    :class="`is-${getStatusColor(props.row.status)}`"
                  >{{ props.row.status }}</span>
                </b-table-column>

                <b-table-column
                  field="beneficiary.phoneNumber"
                  label="Phone Number"
                  sortable
                >{{ props.row.beneficiary.phoneNumber }}</b-table-column>

                <b-table-column label="Last Known Location">
                  <a
                    target="_blank"
                    :href="getMapLink(props.row.beneficiary.lastKnownLocation)"
                  >Show in map</a>
                </b-table-column>
              </template>
            </b-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import dashboardApi from "../api/dashboard";
import BMessage from "buefy/src/components/message/Message";
import BLoading from "buefy/src/components/loading/Loading";
import BTable from "buefy/src/components/table/Table";
import moment from "moment";

export default {
  components: { BTable, BLoading, BMessage },
  data() {
    return {
      searchQuery: "",
      dashboardData: {
        icesCount: 0,
        beneficiariesCount: 0,
        distressCalls: []
      },
      errorMessage: undefined,
      loading: true
    };
  },
  methods: {
    parseDate(timestamp) {
      return moment(+timestamp).calendar(null, {
        sameDay: "[Today]",
        nextDay: "[Tomorrow]",
        nextWeek: "[Next ] ddd",
        lastDay: "[Yesterday]",
        lastWeek: "[Last] ddd",
        sameElse: "ddd, Do MMM, YYYY"
      });
    },
    parseTime(timestamp) {
      return moment(+timestamp).format("h:mm A");
    },
    getStatusColor(status) {
      switch (status) {
        case "pending":
          return "dark";

        case "settled":
          return "success";

        case "failed":
          return "danger";
      }
    },
    getMapLink(location) {
      return location
        ? `https://www.google.com/maps/search/?api=1&query=${location.longitude},${location.latitude}`
        : "#";
    }
  },
  computed: {
    filteredDistressCalls: function() {
      if (this.searchQuery.trim() === "") {
        return this.dashboardData.distressCalls;
      } else {
        const query = this.searchQuery.toLowerCase();
        return this.dashboardData.distressCalls.filter(call => {
          return (
            call.beneficiary.firstName.toLowerCase().indexOf(query) >= 0 ||
            call.beneficiary.lastName.toLowerCase().indexOf(query) >= 0 ||
            call.beneficiary.phoneNumber.toLowerCase().indexOf(query) >= 0 ||
            call.status.toLowerCase().indexOf(query) >= 0 ||
            this.parseDate(call.callDate)
              .toLowerCase()
              .indexOf(query) >= 0
          );
        });
      }
    }
  },
  beforeMount() {
    dashboardApi
      .fetch()
      .then(data => (this.dashboardData = data))
      .catch(errorMessage => (this.errorMessage = errorMessage))
      .finally(() => (this.loading = false));
  }
};
</script>