<template>
  <div class="content-wrapper">
    <b-loading :active.sync="apiCallInProgress" :is-full-page="false"></b-loading>

    <div class="row mb-4">
      <div class="col-12 d-flex align-items-center justify-content-between">
        <h4 class="page-title">ICE Groups</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-12 grid-margin">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <h4 class="card-title">
                <button class="btn btn-dark" @click="showICEModal = true">Add New ICE Group</button>
                &nbsp;
                <button class="btn btn-success">
                  <download-csv :data="ICEs" name="ICE-Report.csv">Download CSV Report</download-csv>
                </button>
              </h4>

              <b-modal :active.sync="showICEModal" width="400px">
                <add-ice-modal v-on:ice-updated="iceUpdated" :editICE="iceCurrentlyUnderEdit"></add-ice-modal>
              </b-modal>

              <div
                class="btn-toolbar mb-0 d-none d-sm-block"
                role="toolbar"
                aria-label="Toolbar with button groups"
              >
                <div class="form-group mb-0">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="mdi mdi-magnify"></i>
                      </span>
                    </div>
                    <input
                      v-model="searchQuery"
                      type="text"
                      class="form-control"
                      placeholder="Search"
                    />
                  </div>
                </div>
              </div>
            </div>

            <b-table
              :paginated="true"
              per-page="10"
              :data="filteredICEs"
              :default-sort="['name', 'asc']"
            >
              <template slot-scope="props">
                <b-table-column width="40" label="#">{{ props.index + 1 }}</b-table-column>

                <b-table-column field="name" label="Name" sortable>{{ props.row.name }}</b-table-column>

                <b-table-column
                  field="phoneNumber"
                  label="Phone Number"
                  sortable
                >{{ props.row.phoneNumber }}</b-table-column>
                <b-table-column>
                  <button
                    class="btn"
                    :class="{'btn-success': props.row.suspended, 'btn-danger': !props.row.suspended}"
                    @click="promptChangeAccess(props.row)"
                  >
                    <span v-if="props.row.paused">Activate</span>
                    <span v-else>Pause</span>
                  </button>
                </b-table-column>
                <b-table-column label="Actions">
                  <button class="btn btn-success mr-2" @click="editICE(props.row)">Edit</button>
                  <button class="btn btn-danger" @click="deleteICE(props.row.id)">Delete</button>
                </b-table-column>
              </template>
            </b-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ices from "../api/ices";
import BLoading from "buefy/src/components/loading/Loading";
import BTable from "buefy/src/components/table/Table";
import BTableColumn from "buefy/src/components/table/TableColumn";
import BModal from "buefy/src/components/modal/Modal";
import AddIceModal from "../components/modals/add-edit-ice";
import { organizationApi } from "../api";

export default {
  components: { AddIceModal, BModal, BTable, BTableColumn, BLoading },
  data() {
    return {
      apiCallInProgress: false,
      searchQuery: "",
      ICEs: [],
      iceCurrentlyUnderEdit: undefined,
      errorMessage: undefined,
      loading: true,
      downloadingReport: false,
      changingAccess: false,
      showICEModal: false
    };
  },
  methods: {
    iceUpdated(ices) {
      this.showSuccessToast();
      this.ICEs = ices;
    },
    editICE(ice) {
      this.iceCurrentlyUnderEdit = ice;
      this.showICEModal = true;
    },
    deleteICE(iceId) {
      this.$dialog.confirm({
        message:
          "Are you sure you want to <b>delete</b> this ICE info? This action cannot be undone.",
        confirmText: "Yes, Delete",
        type: "is-danger",
        size: "is-small",
        hasIcon: true,
        onConfirm: () => ices.delete(iceId).listen()
      });
    },
    promptChangeAccess(value) {
      this.$dialog.confirm({
        message: value.paused
          ? "Are you sure you want to <b>Activate</b> this ICE?"
          : "Are you sure you want to <b>Pause</b> this ICE?",
        confirmText: "Yes",
        type: "is-danger",
        hasIcon: true,
        onConfirm: () => this.changeAccess(value)
      });
    },
    changeAccess(value) {
      this.changingAccess = true;
      !value.paused
        ? ices
            .pause(value.id)
            .catch(this.showErrorToast)
            .finally(() => (this.changingAccess = false))
        : ices
            .unpause(value.id)
            .catch(this.showErrorToast)
            .finally(() => (this.changingAccess = false));
    },
    showSuccessToast() {
      this.$toast.open({
        message: "Operation Successful",
        type: "is-success",
        position: "is-top-right",
        queue: false
      });
    },
    showErrorToast(message) {
      this.$snackbar.open({
        message: message,
        type: "is-warning",
        position: "is-top-right",
        indefinite: true,
        queue: false
      });
    },
    apiRequestListener(apiRequest, showToastOnSuccess) {
      this.apiCallInProgress = true;

      return apiRequest
        .then(data => {
          this.ICEs = data;
          this.apiCallInProgress = false;
          this.iceCurrentlyUnderEdit = undefined;

          if (showToastOnSuccess !== false) {
            this.showSuccessToast();
          }
        })
        .catch(errorMessage => {
          this.apiCallInProgress = false;
          this.showErrorToast(errorMessage);
        });
    },
    setUpAPIRequestListener() {
      const apiRequestListener = this.apiRequestListener;

      Promise.prototype.listen = function(showToastOnSuccess) {
        return apiRequestListener(this, showToastOnSuccess);
      };
    }
  },
  computed: {
    filteredICEs: function() {
      if (this.searchQuery.trim() === "") {
        return this.ICEs;
      } else {
        const query = this.searchQuery.toLowerCase();
        return this.ICEs.filter(ice => {
          return (
            ice.name.toLowerCase().indexOf(query) >= 0 ||
            ice.phoneNumber.indexOf(query) >= 0
          );
        });
      }
    }
  },
  watch: {
    showICEModal(open) {
      if (!open) {
        // unset edit ICE on modal close
        this.iceCurrentlyUnderEdit = undefined;
      }
    }
  },
  beforeMount() {
    this.setUpAPIRequestListener();
    ices.get().listen(false);
  }
};
</script>