<!--suppress ALL -->
<template>
  <div class="content-wrapper">
    <div class="row mb-4">
      <div class="col-12 d-flex align-items-center justify-content-between">
        <h4 class="page-title">Send Messages to Your Beneficiaries</h4>
      </div>
    </div>

    <b-loading :active.sync="loading" :is-full-page="false"></b-loading>

    <div class="row">
      <div class="col-md-12">
        <div class="card support-pane-card">
          <div class="card-body">
            <div class="form-group">
              <label class="has-text-weight-bold" for="sendTo">Send To</label>
              <div id="sendTo">
                <b-radio v-model="sendTo" native-value="all">All Users</b-radio>
                <b-radio v-model="sendTo" native-value="ices">Users in Selected ICE Groups</b-radio>
                <b-radio v-model="sendTo" native-value="location">Users in Location Radius</b-radio>
              </div>
            </div>

            <div v-if="sendTo === 'ices'" class="form-group">
              <label for="ice-group">Select ICE Groups</label>
              <b-taginput
                id="ice-group"
                placeholder="Enter ICE name or phone number"
                type="is-success"
                autocomplete
                attached
                :data="filteredICEGroups"
                field="name"
                v-model="selectedICEs"
                @typing="filterICEs"
                @remove="cleanUpICESelectorUI"
              >
                <template slot-scope="props">
                  {{props.option.name}}
                  <span class="text-muted">{{props.option.phoneNumber}}</span>
                </template>
                <template slot="empty">No matching ICE</template>
              </b-taginput>
            </div>

            <div v-else-if="sendTo === 'location'" class="form-group">
              <div class="row">
                <div class="col">
                  <label for="location">Location (Area)</label>
                  <vue-google-autocomplete
                    type="text"
                    class="form-control"
                    id="location"
                    country="ng"
                    v-on:placechanged="locationSelected"
                  ></vue-google-autocomplete>
                </div>
                <div class="col">
                  <label for="locationRadius">Radius (KM)</label>
                  <input
                    type="number"
                    class="form-control"
                    id="locationRadius"
                    v-model="locationRadius"
                  />
                </div>
              </div>
            </div>

            <div class="form-group mt-4">
              <label class="has-text-weight-bold" for="sendVia">Send Via</label>
              <div id="sendVia">
                <b-checkbox v-model="sendVia" native-value="sms">SMS</b-checkbox>
                <b-checkbox v-model="sendVia" native-value="app">App</b-checkbox>
              </div>
            </div>

            <div class="form-group mt-4" v-if="sendVia.indexOf('app') >= 0">
              <label class="has-text-weight-bold" for="subject">Subject</label>
              <input
                v-model="subject"
                type="text"
                class="form-control"
                placeholder="Latest Updates"
                id="subject"
              />
            </div>

            <div class="form-group mt-4">
              <label class="has-text-weight-bold" for="message">Message</label>
              <textarea v-model="message" type="text" class="form-control" id="message" rows="4"></textarea>
            </div>

            <div class="form-group mt-4">
              <button
                :disabled="this.sendVia.length === 0"
                type="submit"
                class="btn btn-dark"
                @click="sendMessage"
              >Send</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ices from "../api/ices";
import { sendMessage } from "../api/messaging";
import BLoading from "buefy/src/components/loading/Loading";
import BRadio from "buefy/src/components/radio/Radio";
import BTaginput from "buefy/src/components/taginput/Taginput";
import VueGoogleAutocomplete from "vue-google-autocomplete";
import BCheckbox from "buefy/src/components/checkbox/Checkbox";

export default {
  components: { BCheckbox, BTaginput, BRadio, BLoading, VueGoogleAutocomplete },
  data() {
    return {
      sendTo: "all",
      sendVia: ["app", "sms"],
      subject: "",
      message: "",
      ICEs: [],
      filteredICEGroups: [],
      selectedICEs: [],
      location: undefined,
      locationRadius: 10,
      loading: false
    };
  },
  methods: {
    sendMessage() {
      if (this.message.trim() === "") {
        this.showErrorToast("Message cannot be empty");
        return;
      }

      const messageAPIBody = {
        message: this.message.trim(),
        subject: this.subject.trim()
      };

      if (this.sendTo === "ices") {
        messageAPIBody.ices = this.selectedICEs.map(ice => ice.id);
      } else if (this.sendTo === "location") {
        messageAPIBody.location = this.location;
        messageAPIBody.location.radius = this.locationRadius * 1000;
      }

      if (this.sendVia.indexOf("app") < 0) {
        messageAPIBody.ignoreApp = true;
      } else if (this.sendVia.indexOf("sms") < 0) {
        messageAPIBody.ignoreSMS = true;
      }

      this.loading = true;
      sendMessage(messageAPIBody)
        .then(count => {
          this.showSuccessToast(
            `Message successfully sent to ${count} beneficiaries`
          );
          this.message = "";
          this.subject = "";
          this.selectedICEs = [];
          this.location = "";
        })
        .catch(this.showErrorToast)
        .finally(() => (this.loading = false));
    },
    filterICEs(query) {
      this.filteredICEGroups = this.ICEs.filter(ice => {
        return (
          ice.name.toLowerCase().indexOf(query.toLowerCase()) >= 0 ||
          ice.phoneNumber.indexOf(query.toLowerCase()) >= 0
        );
      });
    },
    locationSelected(addressData) {
      this.location = {
        latitude: addressData.latitude,
        longitude: addressData.longitude
      };
    },
    cleanUpICESelectorUI() {
      setTimeout(() => {
        document
          .querySelector(".taginput-container .autocomplete")
          .classList.add("form-control");
        document
          .querySelector(".taginput-container input")
          .classList.add("form-control");
      }, 10);
    },
    showSuccessToast(message) {
      this.$toast.open({
        message: message,
        type: "is-success",
        position: "is-top-right",
        queue: false
      });
    },
    showErrorToast(message) {
      this.$snackbar.open({
        message: message,
        type: "is-warning",
        position: "is-top-right",
        indefinite: true,
        queue: false
      });
    }
  },
  watch: {
    sendTo(sendTo) {
      if (sendTo === "ices") {
        this.cleanUpICESelectorUI();
      }
    }
  },
  beforeMount() {
    this.loading = true;
    ices
      .get()
      .then(data => (this.ICEs = data))
      .catch(errorMessage => this.showErrorToast(errorMessage))
      .finally(() => (this.loading = false));
  }
};
</script>

<style lang="scss" scoped>
.card .card-body {
  padding: 0.9rem;
}

/deep/ {
  .taginput {
    .taginput-container {
      padding: 0 !important;
      border: none !important;
      box-shadow: none !important;

      .autocomplete {
        input {
          height: unset;
          margin: 0;
          padding: 0;
        }

        & > .control.is-loading::after {
          right: 0;
          top: 0;
        }
      }
    }
  }
}
</style>