<template>
  <div class="content-wrapper">
    <div class="row mb-4">
      <div class="col-12 d-flex align-items-center justify-content-between">
        <h4 class="page-title">Notifications</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-12 grid-margin">
        <b-notification v-if="alertMessage" :type="alertType" :closable="false">{{ alertMessage }}</b-notification>

        <div class="card mb-2" v-for="notification of notifications" :key="notification.key">
          <div class="card-body p-3">
            <div class="table-responsive support-pane no-wrap">
              <div class="t-row">
                <div class="content">
                  <p class="font-weight-bold mb-0 d-inline-block">{{ notification.subject }}</p>
                  <p class="text-dark mt-1 mb-0">{{ notification.message }}</p>
                  <p class="text-mute mb-1"><small>{{ relativeTime(notification.time) }}</small></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div style="height: 100px; position: relative;"><b-loading :active.sync="loading" :is-full-page="false"></b-loading></div>
      </div>
    </div>
  </div>
</template>

<script>
  import BLoading from "buefy/src/components/loading/Loading"
  import firebase from 'firebase/app'
  import 'firebase/database'
  import BNotification from "buefy/src/components/notification/Notification";
  import moment from 'moment'

  export default {
    components: { BNotification, BLoading },
    data() {
      return {
        loading: false,
        queueLoading: false,
        maxLoadMessages: 20,
        alertMessage: undefined,
        alertType: undefined,
        notifications: [],
        lastNotificationKey: undefined,
        notificationsDatabase: undefined,
        bottom: false,
        allNotificationsFetched: false
      }
    },
    methods: {
      loadNotifications() {
        if (this.loading || this.allNotificationsFetched) {
          this.queueLoading = true;
          return;
        }

        this.loading = true;

        this.notificationsDatabase
            .child('notifications')
            .orderByKey()
            .limitToLast(this.maxLoadMessages)
            .once('value', this.processNotificationsSnapshot)
            .catch(error => {
              this.alertType = 'is-danger';
              this.alertMessage = error;
              this.loading = false;
            })
      },
      processNotificationsSnapshot(snapshots) {
        const reversed = [];
        snapshots.forEach(sn => {
          const n = sn.val();
          n.key = sn.key;
          reversed.splice(0, 0, n);
        });

        for (const notification of reversed) {
          if (notification.key !== this.lastNotificationKey) {
            this.notifications.push(notification);
            this.lastNotificationKey = notification.key;
          }
        }

        this.loading = false;
        this.allNotificationsFetched = reversed.length < this.maxLoadMessages;

        if (this.notifications.length === 0) {
          this.alertMessage = `You don't have any notifications`;
        }
        else if (this.queueLoading) {
          this.loadNotifications();
          this.queueLoading = false;
        }
      },
      continueFrom(point) {
        this.notificationsDatabase
            .child('notifications')
            .orderByKey()
            .endAt(point)
            .limitToLast(this.maxLoadMessages)
            .once('value', this.processNotificationsSnapshot)
            .catch(error => {
              // eslint-disable-next-line no-console
              console.log('firebase load more error', error);
              this.loading = false;
            });
      },
      relativeTime(time) {
        return moment(+time).fromNow();
      },
      bottomVisible() {
        const scrollY = window.scrollY;
        const visible = document.documentElement.clientHeight;
        const pageHeight = document.documentElement.scrollHeight;
        const bottomOfPage = visible + scrollY >= pageHeight;
        return bottomOfPage || pageHeight < visible;
      }
    },
    watch: {
      bottom(bottom) {
        if (bottom && this.lastNotificationKey) {
          this.continueFrom(this.lastNotificationKey);
        }
      }
    },
    created() {
      window.addEventListener('scroll', () => this.bottom = this.bottomVisible());
    },
    beforeMount() {
      const accountId = this.$store.state.accountId;
      this.notificationsDatabase = firebase.database().ref(accountId);
      this.loadNotifications();

      // this.continueFrom('-LRAlytpvFS28q7o_UnT');

      // clear notifications counter on page load
      this.notificationsDatabase.child('newNotifications').set(0).catch(error => {
        // eslint-disable-next-line no-console
        console.error('clear firebase notification counter error', error);
      });
    }
  }
</script>

<style scoped>
  span.icon {
    cursor: pointer;
  }
</style>