<template>
  <div class="content-wrapper">
    <b-loading :active.sync="loading" :is-full-page="false"></b-loading>

    <div class="row mb-4">
      <div class="col-12 d-flex align-items-center justify-content-between">
        <h4 class="page-title">Profile</h4>
      </div>
    </div>

    <div class="row grid-margin">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title mb-4">Update Info</h4>

            <form class="forms-sample" @submit.prevent="updateProfile">
              <div class="form-group">
                <label for="name">Name</label>
                <input v-model="profile.name" type="text" class="form-control" id="name" placeholder="Name" required>
              </div>

              <div class="form-group">
                <label for="email">Email</label>
                <input v-model="profile.email" type="email" class="form-control" id="email" placeholder="Email" required>
              </div>

              <div class="form-group">
                <label for="phoneNumber">Phone Number</label>
                <input v-model="profile.phoneNumber" type="text" class="form-control" id="phoneNumber" placeholder="Phone Number" required>
              </div>

              <div class="form-group">
                <label for="location">Location</label>
                <input v-model="profile.location" type="text" class="form-control" id="location" placeholder="Location" required>
              </div>

              <div class="form-group">
                <label for="referralId">Referral ID</label>
                <input v-model="profile.referralId" type="text" class="form-control" id="referralId"
                       placeholder="Seclot ID of your referral" :readonly="hasReferralIdSet">
              </div>

              <div class="form-group">
                <label for="password">Change Password</label>
                <input v-model="password" type="password" class="form-control" id="password" placeholder="New Password">
              </div>

              <div class="form-group">
                <label for="confirmPassword">Confirm New Password</label>
                <input v-model="confirmPassword" type="password" class="form-control" id="confirmPassword" placeholder="New Password">
              </div>

              <button type="submit" class="btn btn-dark  float-right">UPDATE</button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title mb-4">Upload Profile Image</h4>
            <b-field>
              <b-upload v-model="profilePicture" accept="image/*" drag-drop>
                <section class="section">
                  <div class="content has-text-centered">
                    <img class="image-preview" :src="previewImageUrl || '/profile_avatar.png'" alt="profile image">
                    <p>Drop your image file here or click to select from your file manager</p>
                  </div>
                </section>
              </b-upload>
            </b-field>
            <div class="tags" v-if="profilePicture">
              <span class="tag is-primary">
                {{ profilePicture.name }}
                <button class="delete is-small" type="button" @click="profilePicture = undefined"></button>
              </span>
              <button class="btn btn-dark ml-auto" @click="uploadProfilePicture">Upload</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import profile from '../api/profile'
  import BLoading from "buefy/src/components/loading/Loading"
  import BField from "buefy/src/components/field/Field";
  import BUpload from "buefy/src/components/upload/Upload";
  import BIcon from "buefy/src/components/icon/Icon";

  export default {
    components: {BIcon, BUpload, BField, BLoading },
    data() {
      return {
        profile: {},
        hasReferralIdSet: false,
        errorMessage: undefined,
        password: '',
        confirmPassword: '',
        profilePicture: undefined,
        previewImageUrl: undefined,
        loading: false
      }
    },
    methods: {
      updateProfile() {
        if (this.password !== this.confirmPassword) {
          this.showErrorToast('New passwords do not match');
          return;
        }

        if (this.password.length > 0) {
          this.profile.password = this.password;
        }

        this.loading = true;
        profile.update(this.profile)
            .then(this.profileUpdated)
            .catch(this.showErrorToast)
            .finally(() => this.loading = false);
      },
      uploadProfilePicture() {
        this.loading = true;
        profile.updateProfilePicture(this.profilePicture)
            .then(this.profileUpdated)
            .catch(this.showErrorToast)
            .finally(() => this.loading = false);
      },
      profileUpdated(data) {
        this.profile = data;
        this.password = '';
        this.confirmPassword = '';
        this.profilePicture = undefined;

        this.$emit('profile-updated');

        this.$toast.open({
          message: 'Profile Updated',
          type: 'is-success',
          position: 'is-top-right',
          queue: false
        });
      },
      showErrorToast(message) {
        this.$snackbar.open({
          message: message,
          type: 'is-warning',
          position: 'is-top-right',
          indefinite: true,
          queue: false
        })
      }
    },
    watch: {
      profilePicture(newPictureFile) {
        this.previewImageUrl = newPictureFile ? URL.createObjectURL(newPictureFile) : undefined;
      }
    },
    beforeMount() {
      this.loading = true;
      profile.get()
          .then(data => {
            this.profile = data;
            this.hasReferralIdSet = data.referralId;
          })
          .catch(this.showErrorToast)
          .finally(() => this.loading = false)
    }
  }
</script>

<style scoped>
  .image-preview {
    border-radius: 100%;
    margin: 0 auto 1rem;
    width: 100%;
    max-width: 82px;
    display: block;
  }
</style>