<template>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper auth p-0 theme-two">
        <div class="row d-flex align-items-stretch">
          <div class="col-12 bg-white">
            <div
              class="auto-form-wrapper d-flex align-items-center justify-content-center flex-column"
            >
              <div class="nav-get-started">
                <p>Already have an account?</p>
                <router-link class="btn get-started-btn" to="login">SIGN IN</router-link>
              </div>
              <div class="row">
                <form @submit.prevent="register">
                  <h3 class="mr-auto text-center">Registration</h3>
                  <p class="mb-5 mr-auto text-center">Enter your details below.</p>
                  <b-message
                    v-if="alertMessage"
                    :type="alertType"
                    size="is-small"
                  >{{ alertMessage }}</b-message>
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="mdi mdi-briefcase-outline"></i>
                        </span>
                      </div>
                      <input
                        v-model="name"
                        type="text"
                        class="form-control"
                        required
                        placeholder="Name of Organisation"
                      />
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="mdi mdi-email-outline"></i>
                        </span>
                      </div>
                      <input
                        v-model="email"
                        type="email"
                        class="form-control"
                        required
                        placeholder="Organisation Email"
                      />
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="mdi mdi-map-marker-outline"></i>
                        </span>
                      </div>
                      <input
                        v-model="location"
                        type="text"
                        class="form-control"
                        required
                        placeholder="Organisation Location"
                      />
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="mdi mdi-phone"></i>
                        </span>
                      </div>
                      <input
                        v-model="phoneNumber"
                        type="tel"
                        class="form-control"
                        required
                        placeholder="Organisation phone number"
                      />
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="mdi mdi-lock-outline"></i>
                        </span>
                      </div>
                      <input
                        v-model="password"
                        type="password"
                        class="form-control"
                        required
                        placeholder="Password"
                      />
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="mdi mdi-lock-outline"></i>
                        </span>
                      </div>
                      <input
                        v-model="confirmPassword"
                        type="password"
                        class="form-control"
                        required
                        placeholder="Confirm Password"
                      />
                    </div>
                  </div>
                  <div class="form-group">
                    <button type="submit" class="btn btn-dark submit-btn float-right">REGISTER</button>
                    <b-loading :active.sync="apiCallInProgress"></b-loading>
                  </div>
                  <div class="clearfix"></div>
                  <div class="wrapper mt-5 text-gray text-center">
                    <p class="footer-text">Copyright &copy; 2018 Seclot. All rights reserved.</p>
                    <ul class="auth-footer text-gray">
                      <li>
                        <a href="#">Terms & Conditions</a>
                      </li>
                      <li>
                        <a href="#">Cookie Policy</a>
                      </li>
                    </ul>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
</template>

<script>
import authentication from "../api/authentication";
import BMessage from "buefy/src/components/message/Message";
import BLoading from "buefy/src/components/loading/Loading";

export default {
  components: { BLoading, BMessage },
  data() {
    return {
      name: "",
      email: "",
      password: "",
      confirmPassword: "",
      location: "",
      phoneNumber: "",
      alertMessage: undefined,
      alertType: "",
      apiCallInProgress: false
    };
  },
  methods: {
    register() {
      if (this.password !== this.confirmPassword) {
        this.showError("Passwords do not match");
        return;
      }

      this.alertMessage = undefined;
      this.apiCallInProgress = true;

      authentication
        .register(
          this.name,
          this.email,
          this.phoneNumber,
          this.location,
          this.password
        )
        .then(this.successfulRegister)
        .catch(this.failedRegister);
    },
    successfulRegister(authResponse) {
      // this.alertType = "is-success";
      // this.alertMessage = `Welcome to Seclot, ${authResponse.profile.name}`;
      setTimeout(() => this.$router.push("/"), 1000);
    },
    failedRegister(error) {
      this.showError(error);
      this.apiCallInProgress = false;
    },
    showError(error) {
      this.alertType = "is-danger";
      this.alertMessage = error;
    }
  }
};
</script>
