<template>
  <div class="content-wrapper">
    <b-loading :active.sync="apiCallActive" :is-full-page="false"></b-loading>

    <div class="row mb-4">
      <div class="col-12 d-flex align-items-center justify-content-between">
        <h4 class="page-title">Wallet</h4>
      </div>
    </div>
    <b-message v-if="errorMessage" type="is-danger" size="is-small">{{ errorMessage }}</b-message>
    <div class="row">
      <div class="col-md-4 grid-margin">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title mb-2">
              Balance
              <span
                style="cursor: pointer;"
                :class="walletBalance > nextBillAmount ? 'text-success' : 'text-danger'"
                @click="showWalletTopUp = true"
              >(Top Up)</span>
            </h4>
            <div class="d-flex justify-content-between align-items-center">
              <h2 class="mb-0">&#8358;{{ walletBalance }}</h2>
              <i
                class="mdi mdi-cash-multiple icon-lg"
                :class="walletBalance > nextBillAmount ? 'text-success' : 'text-danger'"
              ></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 grid-margin">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title mb-2">
              Subscription Plan
              <span
                style="cursor: pointer;"
                class="text-primary"
                @click="showSubscriptionPlans = true"
              >({{ subscriptionPlan ? 'Change' : 'Inactive' }})</span>
            </h4>
            <div v-if="subscriptionPlan" class="d-flex justify-content-between align-items-center">
              <h2 class="mb-0">{{ subscriptionPlan }}</h2>
              <i class="mdi mdi-playlist-check text-primary icon-lg"></i>
            </div>
            <div v-else class="d-flex justify-content-between align-items-center">
              <button
                class="btn btn-sm btn-primary"
                @click="showSubscriptionPlans = true"
              >Subscribe to a Plan</button>
              <i class="mdi mdi-playlist-check text-white icon-lg"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 grid-margin">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title mb-2">
              Next Bill
              <span v-if="nextBillDate" class="text-warning">({{ nextBillDate }})</span>
            </h4>
            <div v-if="subscriptionPlan" class="d-flex justify-content-between align-items-center">
              <h2 class="mb-0">&#8358;{{ nextBillAmount.formatAmount() }}</h2>
              <i class="mdi mdi-calendar-clock text-warning icon-lg"></i>
            </div>
            <div v-else class="d-flex justify-content-between align-items-center">
              <button
                class="btn btn-sm btn-primary"
                @click="showSubscriptionPlans = true"
              >Subscribe to a Plan</button>
              <i class="mdi mdi-playlist-check text-white icon-lg"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <b-modal :active.sync="showSubscriptionPlans" :width="400">
      <subscription-plans
        :subscription-plans="subscriptionPlans"
        :currentPlan="subscriptionPlan"
        v-on:plan-activated="newPlanActivated"
      ></subscription-plans>
    </b-modal>

    <b-modal :active.sync="showWalletTopUp" :width="400">
      <wallet-topup v-on:wallet-funded="walletFunded"></wallet-topup>
    </b-modal>

    <div class="row">
      <div class="col-md-12">
        <div class="card support-pane-card">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <h4 class="card-title mb-0">
                Transaction History
                &nbsp;
                <button class="btn btn-success">
                  <download-csv
                    :data="transactions"
                    name="Transaction-Report.csv"
                  >Download CSV Report</download-csv>
                </button>
              </h4>
              <div
                class="btn-toolbar mb-0 d-none d-sm-block"
                role="toolbar"
                aria-label="Toolbar with button groups"
              >
                <div class="form-group mb-0">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="mdi mdi-magnify"></i>
                      </span>
                    </div>
                    <input
                      v-model="searchQuery"
                      type="text"
                      class="form-control"
                      placeholder="Search"
                    />
                  </div>
                </div>
              </div>
            </div>

            <b-table
              :paginated="true"
              per-page="10"
              :data="filteredTransactions"
              :default-sort="['paymentDate', 'desc']"
            >
              <template slot-scope="props">
                <b-table-column width="40" label="S/N">{{ props.index + 1 }}</b-table-column>

                <b-table-column
                  field="paymentDate"
                  label="Date"
                  sortable
                >{{ parsePaymentDate(+props.row.paymentDate) }}</b-table-column>

                <b-table-column
                  field="amount"
                  label="Amount"
                  sortable
                >&#8358;{{ props.row.amount.formatAmount() }}</b-table-column>

                <b-table-column field="txType" label="Type" sortable centered>
                  <span
                    class="tag"
                    :class="`is-${getStatusColor(props.row.txType)}`"
                  >{{ props.row.txType }}</span>
                </b-table-column>

                <b-table-column
                  field="shortDescription"
                  label="Desc"
                  sortable
                >{{ props.row.shortDescription }}</b-table-column>
              </template>
            </b-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import profile from "../api/profile";
import wallet from "../api/wallet";
import BMessage from "buefy/src/components/message/Message";
import BLoading from "buefy/src/components/loading/Loading";
import BTable from "buefy/src/components/table/Table";
import BModal from "buefy/src/components/modal/Modal";
import moment from "moment";
import SubscriptionPlans from "../components/modals/subscription-plans";
import WalletTopup from "../components/modals/wallet-topup";
import BTableColumn from "buefy/src/components/table/TableColumn";

export default {
  components: {
    BTableColumn,
    WalletTopup,
    SubscriptionPlans,
    BModal,
    BTable,
    BLoading,
    BMessage
  },
  data() {
    return {
      walletBalance: 0,
      subscriptionPlan: undefined,
      nextBillDate: undefined,
      nextBillAmount: undefined,
      subscriptionPlans: [],
      showSubscriptionPlans: false,
      showWalletTopUp: false,
      transactions: [],
      searchQuery: "",
      errorMessage: undefined,
      loading: 0,
      downloadingReport: false
    };
  },
  methods: {
    newPlanActivated(data) {
      this.subscriptionPlan = data.plan;
      this.nextBillDate = this.parseDate(data.nextBillDate);
      window.location.reload();
    },
    walletFunded(data) {
      this.walletBalance = data.walletBalance.formatAmount();
      this.showSuccessToast(
        `Your top up of ${data.topup.formatAmount()} Naira was successful`
      );

      wallet
        .getTransactionHistory()
        .then(data => (this.transactions = data))
        .catch(errorMessage => (this.errorMessage = errorMessage));
    },
    parseDate(timestamp) {
      return moment(+timestamp).calendar(null, {
        sameDay: "[Today]",
        nextDay: "[Tomorrow]",
        nextWeek: "[Next ] ddd",
        lastDay: "[Yesterday]",
        lastWeek: "[Last] ddd",
        sameElse: "ddd, Do MMM, YYYY"
      });
    },
    parseTime(timestamp) {
      return moment(+timestamp).format("h:mm A");
    },
    getStatusColor(txType) {
      switch (txType) {
        case "credit":
          return "success";

        default:
          return "danger";
      }
    },
    parsePaymentDate(date) {
      return moment(+date).format("DD/MM/YYYY h:mm A");
    },
    showSuccessToast(message) {
      this.$toast.open({
        message: message || "Operation Successful",
        type: "is-success",
        position: "is-top-right",
        queue: false
      });
    },
    showErrorToast(message) {
      this.$snackbar.open({
        message: message,
        type: "is-warning",
        position: "is-top-right",
        indefinite: true,
        queue: false
      });
    }
  },
  computed: {
    filteredTransactions: function() {
      if (this.searchQuery.trim() === "") {
        return this.transactions;
      } else {
        const query = this.searchQuery.toLowerCase();
        return this.transactions.filter(tx => {
          return (
            tx.shortDescription.indexOf(query) >= 0 ||
            tx.amount.toString().indexOf(query) >= 0
          );
        });
      }
    },
    apiCallActive: function() {
      return this.loading > 0;
    }
  },
  beforeMount() {
    // get plans in background
    this.loading++;
    wallet
      .getPlans()
      .then(plans => (this.subscriptionPlans = plans))
      .catch(error =>
        this.showErrorToast(`Error fetching subscription plans: ${error}`)
      )
      .finally(() => this.loading--);

    // get wallet balance and activated plan details
    this.loading++;
    profile
      .get()
      .then(data => {
        this.walletBalance = (data.walletBalance || 0).formatAmount();

        if (data.plan) {
          this.subscriptionPlan = data.planName;
          this.nextBillDate = `${this.parseDate(
            data.nextBillDate
          )} at ${this.parseTime(data.nextBillDate)}`;
          this.nextBillAmount = data.nextBillAmount;
        }
      })
      .catch(errorMessage => (this.errorMessage = errorMessage))
      .finally(() => this.loading--);

    // get transaction history
    this.loading++;
    wallet
      .getTransactionHistory()
      .then(data => (this.transactions = data))
      .catch(errorMessage => (this.errorMessage = errorMessage))
      .finally(() => this.loading--);
  }
};
</script>

<style scoped>
.list-group-item {
  padding-left: 0;
  padding-right: 0;
}
</style>