<template>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
        <router-link to="/" class="navbar-brand brand-logo">
          SECLOT
        </router-link>
        <router-link to="/" class="navbar-brand brand-logo-mini">
          SECLOT
        </router-link>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center">
        <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item dropdown">
            <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown" @click="showNotifications">
              <i class="mdi mdi-bell-outline"></i>
              <span v-if="unreadNotifications" class="count">{{ unreadNotifications }}</span>
            </a>
            <div v-if="notifications.length" class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
              <div class="dropdown-item">
                <p v-if="unreadNotifications" class="mb-0 font-weight-normal float-left">You have {{ unreadNotifications }} new notifications</p>
                <router-link to="/notifications" class="ml-auto">View all</router-link>
              </div>
              <div v-for="(notification, index) of notifications" :key="notification.key">
                <div class="dropdown-divider"></div>
                <div class="preview-item flex-column" :class="{ 'unread': index < unreadNotifications }">
                  <h6 class="preview-subject font-weight-medium text-dark">{{ notification.subject }}</h6>
                  <p>{{ notification.message }}</p>
                  <p class="font-weight-light small-text mb-1">{{ relativeTime(notification.time) }}</p>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" @click="mobileNavToggle">
          <span class="mdi mdi-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas sidebar-dark" id="sidebar">
        <ul class="nav">
          <li class="nav-item nav-profile">
            <img :src="imageUrl" alt="profile image">
            <p class="text-center font-weight-medium mb-2">{{ name }}</p>
            <p class="text-center text-muted">Seclot ID: {{ seclotID }}</p>
          </li>
          <router-link v-for="link in navLinks" :key="link.path" class="nav-item" tag="li" :to="link.path" active-class="active">
            <a class="nav-link">
              <i class="menu-icon" :class="link.icon"></i>
              <span class="menu-title">{{ link.name }}</span>
              <div v-if="link.count > 0" class="badge badge-success">{{ link.count }}</div>
            </a>
          </router-link>
          <li class="nav-item">
            <a href="logout" class="nav-link" @click.prevent="logOut">
              <i class="menu-icon icon-diamond"></i>
              <span class="menu-title">Log Out</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <p v-if="!isFCMSetup" @click="connectFCM" class="text-center text-danger mb-0 p-2" style="cursor:pointer;">
          Enable background notifications to receive important alerts
        </p>
        <router-view v-on:profile-updated="showProfileNameAndImage"></router-view>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <footer class="footer">
          <div class="container-fluid clearfix">
            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2018
              <a href="" target="_blank">SECLOT</a>. All rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with
              <i class="mdi mdi-heart-outline text-danger"></i>
            </span>
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
</template>

<script>
  import firebase from 'firebase/app'
  import 'firebase/database'
  import 'firebase/auth'
  import 'firebase/messaging'
  import store, {
    SAVE_TOKEN_MUTATION,
    SAVE_PROFILE_MUTATION,
    ACCOUNT_STATUS_NOTIFICATION_MUTATION,
    ACCOUNT_ID_MUTATION,
    NOTIFICATIONS_COUNTER_MUTATION
  } from '../store'
  import profile from '../api/profile'
  import { Snackbar } from 'buefy/dist/components/snackbar'
  import moment from 'moment'

  const checkAccountStatusInBackground = () => {
    profile.get()
        .then(data => {
          // show warning if account isn't enabled and user hasn't seen this notification before
          if (data.accountStatus !== "enabled" && store.state.accountStatusNotice !== 'seen') {
            const message = data.plan ?
                'Your account is disabled. Top up your wallet to reactivate your account' :
                'Your account is not activated. Subscribe to a plan to activate your account';

            Snackbar.open({
              message: message,
              type: 'is-warning',
              position: 'is-top-right',
              indefinite: true,
              onAction: () => store.commit(ACCOUNT_STATUS_NOTIFICATION_MUTATION, 'seen'),
              queue: false
            })
          }
          else if (data.accountStatus === "enabled") {
            // clear notification status so that next time account status is disabled, notification will be displayed
            store.commit(ACCOUNT_STATUS_NOTIFICATION_MUTATION, undefined);
          }
        })
        .catch();
  };

  export default {
    beforeRouteEnter: (to, from, next) => {
      // loading component for first time
      checkAccountStatusInBackground();
      next()
    },
    beforeRouteUpdate: (to, from, next) => {
      // component already loaded, user is navigating between dashboard sections
      checkAccountStatusInBackground();
      next()
    },
    beforeMount() {
      this.showProfileNameAndImage();
      this.startNotificationsListener();
    },
    beforeUpdate() {
      this.showProfileNameAndImage();
    },
    data() {
      return {
        name: '',
        seclotID: '',
        imageUrl: '/profile_avatar.png',
        navLinks: [
          { name: 'Dashboard', path: '/dashboard', icon: 'icon-diamond', count: 0 },
          { name: 'ICEs', path: '/ices', icon: 'icon-diamond', count: 0 },
          { name: 'Beneficiaries', path: '/beneficiaries', icon: 'icon-diamond', count: 0 },
          { name: 'Wallet', path: '/wallet', icon: 'icon-diamond', count: 0 },
          { name: 'Messaging', path: '/messaging', icon: 'icon-diamond', count: 0 },
          { name: 'Profile', path: '/profile', icon: 'icon-diamond', count: 0 }
        ],
        isFCMSetup: true,
        notificationsDatabase: undefined,
        notifications: [],
        unreadNotifications: 0,
        clearUnreadNotificationsTimer: undefined
      }
    },
    methods: {
      showProfileNameAndImage() {
        const profile = this.$store.state.profile;
        this.name = profile.name;
        this.seclotID = profile.seclotId;
        this.imageUrl = profile.picture || '/profile_avatar.png';
      },
      mobileNavToggle() {
        this.toggleClass(document.getElementById('sidebar'), 'active');
      },
      toggleClass(element, className) {
        element.classList.contains(className) ? element.classList.remove(className) : element.classList.add(className);
      },
      startNotificationsListener() {
        // load counter from cache first
        this.unreadNotifications = this.$store.state.notificationsCounter;

        // update fcm id if user has granted permission before
        this.isFCMSetup = this.$store.state.fcmSetupStatus;
        if (this.isFCMSetup) {
          this.connectFCM();
        }

        const accountId = this.$store.state.accountId;
        this.notificationsDatabase = firebase.database().ref(accountId);

        this.notificationsDatabase
            .child('newNotifications')
            .on('value', snapshot => {
              const previousUnreadCount = this.unreadNotifications;
              this.unreadNotifications = snapshot.val();

              if (this.unreadNotifications > 0 && this.unreadNotifications !== previousUnreadCount) {
                this.$toast.open({
                  message: `You have ${this.unreadNotifications - previousUnreadCount} new notifications`,
                  queue: false,
                  type: 'is-warning',
                  position: 'is-top-right',
                  duration: 5000
                });
              }
            });

        this.notificationsDatabase
            .child('notifications')
            .orderByChild('sort')
            .limitToFirst(4)
            .on('child_added', snapshot => {
              const notification = snapshot.val();
              notification.key = snapshot.key;
              this.notifications.push(notification)
            });
      },
      connectFCM() {
        const messaging = firebase.messaging();
        messaging.usePublicVapidKey(process.env.VUE_APP_PUBLIC_VAPID_KEY);

        navigator.serviceWorker.register(`/${process.env.VUE_APP_FCM_SW_FILE}`)
            .then(registration => messaging.useServiceWorker(registration))
            .then(() => messaging.requestPermission())
            .then(() => messaging.getToken())
            .then(profile.updateNotificationId)
            .catch(error => {
              // eslint-disable-next-line no-console
              console.error('fcm setup error', error);
            })

      },
      showNotifications() {
        if (this.notifications.length === 0) {
          return;
        }

        const notificationsHolder = document.getElementById('notificationDropdown').parentNode;
        const notifications = notificationsHolder.lastChild;
        this.toggleClass(notificationsHolder, 'show');
        this.toggleClass(notifications, 'show');

        if (!notificationsHolder.classList.contains('show')) {
          // notifications view has been hidden, clear any pending action to mark all notifications as read
          clearTimeout(this.clearUnreadNotificationsTimer);
          this.clearUnreadNotificationsTimer = undefined;
          return;
        }

        // notifications are visible, clear unread counter after a while
        // assume 1 second to reach each notification, clear after user must have "read" all new notifications
        if (this.unreadNotifications > 0 && this.unreadNotifications <= this.notifications.length) {
          this.clearUnreadNotificationsTimer = setTimeout(() => {
            this.notificationsDatabase.child('newNotifications').set(0).catch(error => {
              // eslint-disable-next-line no-console
              console.error('clear firebase notification counter error', error);
            });
          }, 1000 * this.unreadNotifications);
        }
      },
      relativeTime(time) {
        return moment(+time).fromNow();
      },
      logOut () {
        this.$store.commit(SAVE_TOKEN_MUTATION, {});
        this.$store.commit(SAVE_PROFILE_MUTATION, {});
        this.$store.commit(ACCOUNT_ID_MUTATION, {});
        this.$router.push('/login')
      }
    },
    watch: {
      unreadNotifications(unreadNotifications) {
        this.$store.commit(NOTIFICATIONS_COUNTER_MUTATION, unreadNotifications);
      }
    }
  }
</script>

<style lang="scss" scoped>
  .sidebar-icon-only .navbar .navbar-brand-wrapper .brand-logo-mini {
    font-size: 1rem;
  }

  .navbar.default-layout .navbar-brand-wrapper .navbar-brand:hover {
    color: #c5c5c5;
  }

  .navbar-nav .nav-item.dropdown .navbar-dropdown {
    width: 100%;
    position: fixed;
    max-width: 400px;
    min-width: unset;
    max-height: 100%;
    overflow-y: auto;

    .preview-item.unread {
      background: #f8f9fa;
    }
  }

  @media (max-width: 991px) {
    .navbar.default-layout {
      background: black;

      .navbar-brand-wrapper {
        width: unset;
        padding-left: 1rem;
      }

      .mdi {
        color: #fff;
      }
    }
  }

  footer {
    display: none;
  }
</style>