<template>
  <router-view></router-view>
</template>

<script>
import firebase from 'firebase/app'

export default {
  name: 'app',
  beforeMount() {
    // initialize firebase first time app is loaded so it can be used in child components
    var firebaseConfig = {
      apiKey: 'AIzaSyDgn3pCzbhlGe6OAo4SJxS7U_9RQIKI6DY',
      authDomain: 'seclot-75036.firebaseapp.com',
      databaseURL: 'https://seclot-75036.firebaseio.com',
      projectId: 'seclot-75036',
      storageBucket: 'seclot-75036.appspot.com',
      messagingSenderId: '230790742160',
      appId: '1:230790742160:web:095b2e735bae75cce91815',
      measurementId: 'G-XCSJW7FJHT',
    }
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig)

    /*** set up utility extension methods */
    // extension method to format number as currency amount
    Number.prototype.formatAmount = function() {
      return this.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')
    }
  },
}
</script>

<!-- global styles -->
<style
  src="./assets/vendors/iconfonts/mdi/css/materialdesignicons.min.css"
></style>
<style
  src="./assets/vendors/iconfonts/simple-line-icon/css/simple-line-icons.css"
></style>
<style src="./assets/css/style.css"></style>
<style lang="scss">
ul {
  margin: 0;
  padding: 0;
}
.pagination-list {
  order: 2;
}
.content-wrapper {
  position: relative;
}
.loading-overlay.is-active {
  z-index: 1200;
}
.modal-card-head,
.modal-card-foot {
  background: white;
  padding: 10px;
  border: none;

  .modal-card-title {
    font-size: 1.4rem;
    margin: 0;
  }
}
.notices {
  z-index: 2000;

  .snackbar .text {
    margin: 0;
  }
}
.upload {
  &,
  .upload-draggable {
    width: 100%;
  }
}
</style>
