<template>
  <div class="content-wrapper">
    <b-loading :active.sync="loading" :is-full-page="false"></b-loading>

    <div class="row mb-4">
      <div class="col-12 d-flex align-items-center justify-content-between">
        <h4 class="page-title">Distress Call History</h4>
      </div>
    </div>

    <b-modal :active.sync="showUpdateModal" :width="381" scroll="keep">
      <div class="card">
        <div class="card-body p-3">
          <h4 class="card-title mb-4">
            Update {{callIds.length}} Distress Call
            <span v-if="callIds.length == 1">Status</span>
            <span v-else>Statuses</span>
          </h4>
          <form @submit.prevent="updateCallStatus">
            <b-field label="Status">
              <b-select placeholder="Select a status" expanded v-model="status" required>
                <option
                  v-for="option in [ 'Settled', 'Failed', 'Pending']"
                  :value="option"
                  :key="option"
                >{{ option }}</option>
              </b-select>
            </b-field>
            <button type="submit" class="btn btn-dark float-right">Continue</button>
          </form>
        </div>
      </div>
    </b-modal>

    <div class="row">
      <div class="col-12 grid-margin">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <h4 class="card-title">
                <button class="btn btn-success" :disabled="downloadingReport">
                  <download-csv
                    :data="distressCalls"
                    name="Distress-Calls-Report.csv"
                  >{{ downloadingReport ? "Downloading..." : "Download CSV Report" }}</download-csv>
                </button>
              </h4>

              <div
                class="btn-toolbar mb-0 d-none d-sm-block"
                role="toolbar"
                aria-label="Toolbar with button groups"
              >
                <div class="form-group mb-0">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="mdi mdi-magnify"></i>
                      </span>
                    </div>
                    <input
                      v-model="searchQuery"
                      type="text"
                      class="form-control"
                      placeholder="Search"
                    />
                  </div>
                </div>
              </div>
            </div>

            <b-modal :active.sync="showCallsModal" :width="381" scroll="keep">
              <CallsViewModal :data="callsModalData" />
            </b-modal>

            <button
              v-if="callIds.length > 0"
              @click="showUpdateModal = true"
              class="btn btn-warning float-right"
            >
              Update {{callIds.length}} call
              <span v-if="callIds.length == 1">Status</span>
              <span v-else>Statuses</span>
            </button>
            <b-table
              :data="filteredCalls"
              :default-sort="['username', 'asc']"
              :checked-rows.sync="callIds"
              checkable
              paginated
              per-page="10"
            >
              <template slot-scope="props">
                <b-table-column width="40" label="#">{{ props.index + 1 }}</b-table-column>
                <b-table-column field="user-name" label="Username" sortable>{{ props.row.userName }}</b-table-column>
                <b-table-column
                  field="call-date"
                  label="Call Date"
                  sortable
                >{{ parseDate(props.row.callDate) }}</b-table-column>
                <b-table-column field="status" label="Status" sortable>{{ props.row.status }}</b-table-column>
                <b-table-column field>
                  <button
                    class="btn btn-success"
                    @click="showCallsModal = true, callsModalData = props.row"
                  >View</button>
                </b-table-column>
              </template>
            </b-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import distressCallApi from "../../api/admin/calls";
import BLoading from "buefy/src/components/loading/Loading";
import BTable from "buefy/src/components/table/Table";
import BField from "buefy/src/components/field/Field";
import BTableColumn from "buefy/src/components/table/TableColumn";
import BModal from "buefy/src/components/modal/Modal";
import CallsViewModal from "@/components/modals/calls-view";
import moment from "moment";

export default {
  components: {
    BModal,
    BTable,
    BTableColumn,
    BLoading,
    BField,
    CallsViewModal
  },
  data() {
    return {
      searchQuery: "",
      distressCalls: [],
      callIds: [],
      status: "",
      loading: false,
      showCallsModal: false,
      showUpdateModal: false,
      callsModalData: [],
      errorMessage: undefined
    };
  },
  methods: {
    fetchDistressCalls() {
      distressCallApi
        .fetch()
        .then(data => (this.distressCalls = data.distressCalls))
        .catch(errorMessage => (this.errorMessage = errorMessage))
        .finally(() => (this.loading = false));
    },
    parseDate(timestamp) {
      return moment(+timestamp).calendar(null, {
        sameDay: "[Today]",
        nextDay: "[Tomorrow]",
        nextWeek: "[Next ] ddd",
        lastDay: "[Yesterday]",
        lastWeek: "[Last] ddd",
        sameElse: "ddd, Do MMM, YYYY"
      });
    },

    updateCallStatus() {
      this.loading = true;
      const callIds = [];
      this.callIds.map(user => callIds.push(user.id));
      distressCallApi
        .updateCallStatus({ callIds, status: this.status })
        .catch(this.showErrorToast)
        .finally(
          () => (
            this.fetchDistressCalls(),
            (this.showUpdateModal = false),
            (this.callIds = [])
          )
        );
    },
    showSuccessToast() {
      this.$toast.open({
        message: "Operation Successful",
        type: "is-success",
        position: "is-top-right",
        queue: false
      });
    },

    showErrorToast(message) {
      this.$snackbar.open({
        message: message,
        type: "is-warning",
        position: "is-top-right",
        indefinite: true,
        queue: false
      });
    }
  },
  computed: {
    filteredCalls: function() {
      if (this.searchQuery.trim() === "") {
        return this.distressCalls;
      } else {
        const query = this.searchQuery.toLowerCase();
        return this.distressCalls.filter(distressCall => {
          return distressCall.userName.toLowerCase().indexOf(query) >= 0;
        });
      }
    }
  },
  beforeMount() {
    this.fetchDistressCalls();
  }
};
</script>