<template>
  <div class="content-wrapper">
    <b-loading :active.sync="loading" :is-full-page="false"></b-loading>

    <div class="row mb-4">
      <div class="col-12 d-flex align-items-center justify-content-between">
        <h4 class="page-title">Dashboard</h4>
      </div>
    </div>
    <b-message v-if="errorMessage" type="is-danger" size="is-small">{{ errorMessage }}</b-message>
    <div class="row">
      <div class="col-md-4 grid-margin">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title mb-0">Distress Calls</h4>
            <div class="d-flex justify-content-between align-items-center">
              <div class="d-inline-block pt-3">
                <div class="d-flex">
                  <h2 class="mb-0">{{ dashboardData.distressCount }}</h2>
                </div>
              </div>
              <div class="d-inline-block">
                <div class="bg-danger px-4 py-2 rounded">
                  <i class="mdi mdi-alert text-white icon-lg"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 grid-margin">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title mb-0">Organizations</h4>
            <div class="d-flex justify-content-between align-items-center">
              <div class="d-inline-block pt-3">
                <div class="d-flex">
                  <h2 class="mb-0">{{ dashboardData.orgCount }}</h2>
                </div>
              </div>
              <div class="d-inline-block">
                <div class="bg-warning px-4 py-2 rounded">
                  <i class="mdi mdi-account-card-details text-white icon-lg"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 grid-margin">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title mb-0">Users</h4>
            <div class="d-flex justify-content-between align-items-center">
              <div class="d-inline-block pt-3">
                <div class="d-flex">
                  <h2 class="mb-0">{{ dashboardData.userCount }}</h2>
                </div>
              </div>
              <div class="d-inline-block">
                <div class="bg-success px-4 py-2 rounded">
                  <i class="mdi mdi-contacts text-white icon-lg"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="card support-pane-card">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <h4 class="card-title mb-0">Distress Call History</h4>
            </div>

            <b-table
              :data="distressCalls"
              :default-sort="['username', 'asc']"
              :paginated="true"
              per-page="5"
            >
              <template slot-scope="props">
                <b-table-column width="40" label="#">{{ props.index + 1 }}</b-table-column>
                <b-table-column field="user-name" label="Username" sortable>{{ props.row.userName }}</b-table-column>
                <b-table-column
                  field="call-date"
                  label="Call Date"
                  sortable
                >{{ parseDate(props.row.callDate) }}</b-table-column>
                <b-table-column field="status" label="Status" sortable>{{ props.row.status }}</b-table-column>
              </template>
            </b-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import dashboardApi from "../../api/admin/dashboard";
import distressCallApi from "../../api/admin/calls";
import BMessage from "buefy/src/components/message/Message";
import BLoading from "buefy/src/components/loading/Loading";
import BTable from "buefy/src/components/table/Table";
import moment from "moment";

export default {
  components: { BTable, BLoading, BMessage },
  data() {
    return {
      searchQuery: "",
      dashboardData: {
        usersCount: 0,
        organisationCount: 0
      },
      distressCalls: [],
      errorMessage: undefined,
      loading: true
    };
  },
  methods: {
    parseDate(timestamp) {
      return moment(+timestamp).calendar(null, {
        sameDay: "[Today]",
        nextDay: "[Tomorrow]",
        nextWeek: "[Next ] ddd",
        lastDay: "[Yesterday]",
        lastWeek: "[Last] ddd",
        sameElse: "ddd, Do MMM, YYYY"
      });
    },
    parseTime(timestamp) {
      return moment(+timestamp).format("h:mm A");
    },
    getStatusColor(status) {
      switch (status) {
        case "pending":
          return "dark";

        case "settled":
          return "success";

        case "failed":
          return "danger";
      }
    },
    getMapLink(location) {
      return location
        ? `https://www.google.com/maps/search/?api=1&query=${location.longitude},${location.latitude}`
        : "#";
    },
    fetchDashboardData() {
      dashboardApi
        .fetch()
        .then(data => (this.dashboardData = data))
        .catch(errorMessage => (this.errorMessage = errorMessage))
        .finally(() => (this.loading = false));
    },
    fetchDistressCalls() {
      distressCallApi
        .fetch()
        .then(data => (this.distressCalls = data.distressCalls))
        .catch(errorMessage => (this.errorMessage = errorMessage))
        .finally(() => (this.loading = false));
    }
  },
  computed: {
    filteredDistressCalls: function() {
      if (this.searchQuery.trim() === "") {
        return this.dashboardData.distressCalls;
      } else {
        const query = this.searchQuery.toLowerCase();
        return this.dashboardData.distressCalls.filter(call => {
          return (
            call.beneficiary.firstName.toLowerCase().indexOf(query) >= 0 ||
            call.beneficiary.lastName.toLowerCase().indexOf(query) >= 0 ||
            call.beneficiary.phoneNumber.toLowerCase().indexOf(query) >= 0 ||
            call.status.toLowerCase().indexOf(query) >= 0 ||
            this.parseDate(call.callDate)
              .toLowerCase()
              .indexOf(query) >= 0
          );
        });
      }
    }
  },
  beforeMount() {
    this.fetchDashboardData();
    this.fetchDistressCalls();
  }
};
</script>