<template>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper auth p-0 theme-two">
        <div class="row d-flex align-items-stretch">
          <div class="col-12 h-100 bg-white">
            <div
              class="auto-form-wrapper d-flex align-items-center justify-content-center flex-column"
            >
              <div class="nav-get-started">
                <p>Remember your password?</p>
                <router-link to="/admin/login" class="btn get-started-btn">LOGIN</router-link>
              </div>
              <div class="row">
                <form @submit.prevent="requestPasswordReset">
                  <h3 class="text-center">Forgot Password</h3>
                  <p class="mb-5 text-center">Enter your details below.</p>
                  <b-message
                    v-if="alertMessage"
                    :type="alertType"
                    size="is-small"
                  >{{ alertMessage }}</b-message>
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="mdi mdi-email-outline"></i>
                        </span>
                      </div>
                      <input
                        v-model="email"
                        required
                        type="email"
                        class="form-control"
                        placeholder="Your Email"
                      />
                    </div>
                  </div>
                  <div class="form-group">
                    <button
                      type="submit"
                      class="btn btn-dark submit-btn float-right"
                    >REQUEST PASSWORD CHANGE</button>
                    <b-loading :active.sync="apiCallInProgress"></b-loading>
                  </div>
                  <div class="clearfix"></div>
                  <div class="wrapper mt-5 text-gray text-center">
                    <p class="footer-text">Copyright &copy; 2018 Seclot. All rights reserved.</p>
                    <ul class="auth-footer text-gray text-center">
                      <li>
                        <a href="#">Terms & Conditions</a>
                      </li>
                      <li>
                        <a href="#">Cookie Policy</a>
                      </li>
                    </ul>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
</template>

<script>
import authentication from "../../api/authentication";
import BMessage from "buefy/src/components/message/Message";
import BLoading from "buefy/src/components/loading/Loading";

export default {
  components: { BLoading, BMessage },
  data() {
    return {
      email: "",
      alertMessage: undefined,
      alertType: "",
      apiCallInProgress: false
    };
  },
  methods: {
    requestPasswordReset() {
      this.alertMessage = undefined;
      this.apiCallInProgress = true;

      authentication
        .adminRequestPasswordReset(this.email)
        .then(this.success)
        .catch(this.failure);
    },
    success(authResponse) {
      this.alertType = "is-success";
      this.alertMessage = authResponse;
      this.apiCallInProgress = false;
    },
    failure(error) {
      this.alertType = "is-danger";
      this.alertMessage = error;
      this.apiCallInProgress = false;
    }
  }
};
</script>
