<template>
  <div class="content-wrapper">
    <b-loading :active.sync="apiCallInProgress" :is-full-page="false"></b-loading>

    <div class="row mb-4">
      <div class="col-12 d-flex align-items-center justify-content-between">
        <h4 class="page-title">ICE Groups</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-12 grid-margin">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <h4 class="card-title">
                <button class="btn btn-success" :disabled="downloadingReport">
                  <download-csv :data="ICEs" name="ICE-Report.csv">Download CSV Report</download-csv>
                </button>
              </h4>

              <div
                class="btn-toolbar mb-0 d-none d-sm-block"
                role="toolbar"
                aria-label="Toolbar with button groups"
              >
                <div class="form-group mb-0">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="mdi mdi-magnify"></i>
                      </span>
                    </div>
                    <input
                      v-model="searchQuery"
                      type="text"
                      class="form-control"
                      placeholder="Search"
                    />
                  </div>
                </div>
              </div>
            </div>

            <b-modal :active.sync="showInfoModal" :width="381" scroll="keep">
              <ViewIceModal :data="iceData" />
            </b-modal>

            <b-table paginated :per-page="10" :data="filteredICEs" :default-sort="['name', 'asc']">
              <template slot-scope="props">
                <b-table-column width="40" label="#">{{ props.index + 1 }}</b-table-column>
                <b-table-column field="name" label="Name" sortable>{{ props.row.name }}</b-table-column>
                <b-table-column
                  field="phoneNumber"
                  label="Phone Number"
                  sortable
                >{{ props.row.phoneNumber }}</b-table-column>
                <b-table-column
                  label="Organisation"
                  field="organisation"
                  sortable
                >{{props.row.addedBy.accountName}}</b-table-column>
                <b-table-column>
                  <button
                    class="btn btn-success"
                    @click="showInfoModal = true, iceData = props.row"
                  >View</button>
                </b-table-column>
                <b-table-column>
                  <button
                    class="btn"
                    @click="promptChangeAccess(props.row)"
                    :disabled="changingAccess"
                    :class="{'btn-success': props.row.paused, 'btn-danger': !props.row.paused}"
                  >
                    <span v-if="props.row.paused">Activate</span>
                    <span v-else>Pause</span>
                  </button>
                </b-table-column>
              </template>
            </b-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ices from "../../api/admin/ices";
import BLoading from "buefy/src/components/loading/Loading";
import BTable from "buefy/src/components/table/Table";
import BTableColumn from "buefy/src/components/table/TableColumn";
import BModal from "buefy/src/components/modal/Modal";
import AddIceModal from "../../components/modals/add-edit-ice";
import ViewIceModal from "../../components/modals/view-ice";

export default {
  components: {
    BModal,
    BTable,
    BTableColumn,
    BLoading,
    AddIceModal,
    ViewIceModal
  },
  data() {
    return {
      apiCallInProgress: false,
      searchQuery: "",
      ICEs: [],
      iceCurrentlyUnderEdit: undefined,
      errorMessage: undefined,
      showInfoModal: false,
      loading: true,
      changingAccess: false
    };
  },
  methods: {
    promptChangeAccess(value) {
      this.$dialog.confirm({
        message: value.paused
          ? "Are you sure you want to <b>Activate</b> this ICE?"
          : "Are you sure you want to <b>Pause</b> this ICE?",
        confirmText: "Yes",
        type: value.paused ? "is-success" : "is-danger",
        hasIcon: true,
        onConfirm: () => this.changePaused(value)
      });
    },

    changePaused(value) {
      this.changingAccess = true;
      value.paused
        ? ices
            .unPauseICE(value.id)
            .then(this.showSuccessToast)
            .catch(this.showErrorToast)
            .finally(() => (this.changingAccess = false))
        : ices
            .pauseICE(value.id)
            .then(this.showSuccessToast)
            .catch(this.showErrorToast)
            .finally(() => (this.changingAccess = false));
    },
    showSuccessToast() {
      this.$toast.open({
        message: "Operation Successful",
        type: "is-success",
        position: "is-top-right",
        queue: false
      });
    },
    showErrorToast(message) {
      this.$snackbar.open({
        message: message,
        type: "is-warning",
        position: "is-top-right",
        indefinite: true,
        queue: false
      });
    },
    apiRequestListener(apiRequest, showToastOnSuccess) {
      this.apiCallInProgress = true;

      return apiRequest
        .then(data => {
          this.ICEs = data.ICEs;
          this.apiCallInProgress = false;
          this.iceCurrentlyUnderEdit = undefined;

          if (showToastOnSuccess !== false) {
            this.showSuccessToast();
          }
        })
        .catch(errorMessage => {
          this.apiCallInProgress = false;
          this.showErrorToast(errorMessage);
        });
    },
    setUpAPIRequestListener() {
      const apiRequestListener = this.apiRequestListener;

      Promise.prototype.listen = function(showToastOnSuccess) {
        return apiRequestListener(this, showToastOnSuccess);
      };
    }
  },
  computed: {
    filteredICEs: function() {
      if (this.searchQuery.trim() === "") {
        return this.ICEs;
      } else {
        const query = this.searchQuery.toLowerCase();
        return this.ICEs.filter(ice => {
          return (
            ice.name.toLowerCase().indexOf(query) >= 0 ||
            ice.phoneNumber.indexOf(query) >= 0 ||
            ice.addedBy.accountName.toLowerCase().indexOf(query) >= 0
          );
        });
      }
    }
  },
  beforeMount() {
    this.setUpAPIRequestListener();
    ices.get().listen(false);
  }
};
</script>