<template>
  <div class="content-wrapper">
    <!-- <b-loading :active.sync="loading" :is-full-page="false"></b-loading> -->

    <div class="row mb-4">
      <div class="col-12 d-flex align-items-center justify-content-between">
        <h4 class="page-title">Administrators</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-12 grid-margin">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <h4 class="card-title">
                <button class="btn btn-dark" @click="showAdminForm = true">Add New Admin</button> &nbsp;
                <button class="btn btn-success">
                  <download-csv :data="Admins" name="Admin-Report.csv">Download CSV Report</download-csv>
                </button>
              </h4>

              <div
                class="btn-toolbar mb-0 d-none d-sm-block"
                role="toolbar"
                aria-label="Toolbar with button groups"
              >
                <div class="form-group mb-0">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="mdi mdi-magnify"></i>
                      </span>
                    </div>
                    <input
                      v-model="searchQuery"
                      type="text"
                      class="form-control"
                      placeholder="Search"
                    />
                  </div>
                </div>
              </div>
            </div>

            <b-table
              :paginated="true"
              per-page="10"
              :data="filteredUsers"
              :default-sort="['name', 'asc']"
            >
              <template slot-scope="props">
                <b-table-column width="40" label="#">{{ props.index + 1 }}</b-table-column>
                <b-table-column field="name" label="Name" sortable>{{ props.row.name}}</b-table-column>
                <b-table-column field="email" label="Email Address" sortable>{{ props.row.email }}</b-table-column>
                <b-table-column
                  field="accountCreationDate"
                  label="Date Created"
                  sortable
                >{{props.row.accountCreationDate}}</b-table-column>
                <b-table-column>
                  <button
                    class="btn"
                    :class="{'btn-success': props.row.suspended, 'btn-danger': !props.row.suspended}"
                    @click="promptChangeAccess(props.row)"
                    :disabled="changingAccess"
                  >
                    <span v-if="props.row.suspended">Activate</span>
                    <span v-else>Suspend</span>
                  </button>
                </b-table-column>
              </template>
            </b-table>

            <b-modal :active.sync="showAdminForm" :width="425" scroll="keep">
              <div class="card">
                <div class="card-content">
                  <div class="media">
                    <div class="media-content">
                      <p class="title is-4">Add Administrator</p>
                    </div>
                  </div>

                  <div class="content">
                    <form @submit.prevent="addAdmin">
                      <div class="form-group">
                        <label for="name">Name</label>
                        <input
                          id="name"
                          v-model="payload.name"
                          required
                          type="text"
                          class="form-control"
                          placeholder="Admin Name"
                        />
                      </div>

                      <div class="form-group">
                        <label for="email">Email</label>
                        <input
                          id="email"
                          v-model="payload.email"
                          required
                          type="email"
                          class="form-control"
                          placeholder="Admin Email"
                        />
                      </div>

                      <div class="form-group">
                        <label for="password">Password</label>
                        <input
                          id="password"
                          v-model="payload.password"
                          required
                          type="password"
                          class="form-control"
                          placeholder="Admin Password"
                        />
                      </div>
                      <button type="submit" class="btn btn-dark float-right">Add</button>
                    </form>
                  </div>
                </div>
              </div>
            </b-modal>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import adminApi from "../../api/admin/admins";
import BLoading from "buefy/src/components/loading/Loading";
import BTable from "buefy/src/components/table/Table";
import BTableColumn from "buefy/src/components/table/TableColumn";
import BModal from "buefy/src/components/modal/Modal";

export default {
  components: { BModal, BTable, BTableColumn, BLoading },
  data() {
    return {
      Admins: [],
      payload: {
        name: "",
        email: "",
        password: ""
      },
      searchQuery: "",
      errorMessage: undefined,
      showAdminForm: false,
      changingAccess: false,
      loading: false
    };
  },
  methods: {
    addAdmin() {
      this.loading = true;
      adminApi
        .addAdministrator(this.payload)
        .catch(this.showErrorToast)
        .finally(() => (this.showAdminForm = false));
    },

    promptChangeAccess(value) {
      this.$dialog.confirm({
        message: value.suspended
          ? "Are you sure you want to <b>Activate</b> this admin?"
          : "Are you sure you want to <b>Suspend</b> this admin?",
        confirmText: "Yes",
        type: value.suspended ? "is-success" : "is-danger",
        hasIcon: true,
        onConfirm: () => this.changeAccess(value)
      });
    },
    changeAccess(value) {
      this.changingAccess = true;
      value.suspended
        ? adminApi
            .activateAdmin(value.phoneNumber)
            .then(this.showSuccessToast)
            .catch(this.showErrorToast)
            .finally(() => (this.changingAccess = false))
        : adminApi
            .suspendAdmin(value.phoneNumber)
            .then(this.showSuccessToast)
            .catch(this.showErrorToast)
            .finally(() => (this.changingAccess = false));
    },
    showSuccessToast() {
      this.$toast.open({
        message: "Operation Successful",
        type: "is-success",
        position: "is-top-right",
        queue: false
      });
    },
    showErrorToast(message) {
      this.$snackbar.open({
        message: message,
        type: "is-warning",
        position: "is-top-right",
        indefinite: true,
        queue: false
      });
    }
  },
  computed: {
    filteredUsers: function() {
      if (this.searchQuery.trim() === "") {
        return this.Admins;
      } else {
        const query = this.searchQuery.toLowerCase();
        return this.Admins.filter(Admin => {
          return (
            Admin.name.toLowerCase().indexOf(query) >= 0 ||
            Admin.email.indexOf(query) >= 0
          );
        });
      }
    }
  },
  beforeMount() {
    this.loading = true;
    adminApi
      .fetch()
      .then(data => (this.Admins = data.admins))
      .catch(errorMessage => (this.errorMessage = errorMessage))
      .finally(() => (this.loading = false));
  }
};
</script>