<template>
  <div class="content-wrapper">
    <b-loading :active.sync="loading" :is-full-page="false"></b-loading>
    <div class="row mb-4">
      <div class="col-12 d-flex align-items-center justify-content-between">
        <h4 class="page-title">Organizational Sector</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-12 grid-margin">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <h4 class="card-title">
                <button
                  @click="showNewOrganizationModal = true"
                  class="btn btn-dark"
                >New Organizations</button>&nbsp;
                <button
                  @click="showSectorsModal = true"
                  class="btn btn-dark"
                >Organizational Sectors</button>&nbsp;
                &nbsp;
                <button class="btn btn-success">
                  <download-csv
                    :data="organisations"
                    name="Organizations-Report.csv"
                  >Download CSV Report</download-csv>
                </button>
              </h4>
              <b-modal :active.sync="showSectorsModal" :width="381" scroll="keep">
                <OrganizationalSectors @closeModal="showSectorsModal = false" />
              </b-modal>
              <b-modal :active.sync="showNewOrganizationModal" :width="381" scroll="keep">
                <NewOrganization @closeModal="showNewOrganizationModal = false" />
              </b-modal>
              <div
                class="btn-toolbar mb-0 d-none d-sm-block"
                role="toolbar"
                aria-label="Toolbar with button groups"
              >
                <div class="form-group mb-0">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="mdi mdi-magnify"></i>
                      </span>
                    </div>
                    <input
                      v-model="searchQuery"
                      type="text"
                      class="form-control"
                      placeholder="Search"
                    />
                  </div>
                </div>
              </div>
            </div>

            <b-modal :active.sync="showInfoModal" :width="381" scroll="keep">
              <OrganizationViewModal :data="organizationData" />
            </b-modal>

            <b-table
              paginated
              per-page="10"
              :data="filteredOrganisations"
              :default-sort="['name', 'asc']"
            >
              <template slot-scope="props">
                <b-table-column width="40" label="#">{{ props.index + 1 }}</b-table-column>

                <b-table-column field="name" label="Name" sortable>{{ props.row.name }}</b-table-column>

                <b-table-column
                  field="phoneNumber"
                  label="Phone Number"
                  sortable
                >{{ props.row.phoneNumber }}</b-table-column>

                <b-table-column label="Location" field="location" sortable>{{props.row.location}}</b-table-column>

                <b-table-column>
                  <button
                    class="btn btn-success"
                    @click="showInfoModal = true, organizationData = props.row"
                  >View</button>
                </b-table-column>
              </template>
            </b-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import organizationApi from "../../api/admin/organisations";
import BLoading from "buefy/src/components/loading/Loading";
import BTable from "buefy/src/components/table/Table";
import BModal from "buefy/src/components/modal/Modal";
import OrganizationalSectors from "../../components/modals/add-delete-organisation";
import OrganizationViewModal from "../../components/modals/view-organization";
import NewOrganization from "../../components/modals/add-organizations";
export default {
  components: {
    BTable,
    BModal,
    BLoading,
    OrganizationalSectors,
    OrganizationViewModal,
    NewOrganization
  },
  data() {
    return {
      searchQuery: "",
      organisations: [],
      loading: true,
      organizationData: {},
      showInfoModal: false,
      showSectorsModal: false,
      showNewOrganizationModal: false,
      errorMessage: undefined
    };
  },
  computed: {
    filteredOrganisations: function() {
      if (this.searchQuery.trim() === "") {
        return this.organisations;
      } else {
        const query = this.searchQuery.toLowerCase();
        return this.organisations.filter(organisation => {
          return (
            organisation.name.toLowerCase().indexOf(query) >= 0 ||
            organisation.phoneNumber.indexOf(query) >= 0 ||
            organisation.location.toLowerCase().indexOf(query) >= 0
          );
        });
      }
    }
  },
  beforeMount() {
    organizationApi
      .fetch()
      .then(data => (this.organisations = data.organizations))
      .catch(errorMessage => (this.errorMessage = errorMessage))
      .finally(() => (this.loading = false));
  }
};
</script>