<template>
  <div class="content-wrapper">
    <b-loading :active.sync="loading" :is-full-page="false"></b-loading>

    <div class="row mb-4">
      <div class="col-12 d-flex align-items-center justify-content-between">
        <h4 class="page-title">Subscription</h4>
        <button class="btn btn-success">
          <download-csv
            :data="config.subscriptionPlans.daily"
            name="Subscriptions.csv"
          >Download CSV Report</download-csv>
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col-12 grid-margin">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title mb-3">Referrals</h4>
            <form
              class="forms-sample"
              @submit.prevent="updateSubscription"
              @reset.prevent="resetSubscription"
            >
              <div class="form-group">
                <label for="amount">Referral Amount</label>
                <input
                  type="number"
                  class="form-control"
                  id="amount"
                  v-model.number="config.referralAmount"
                  placeholder="Amount"
                  required
                />
              </div>

              <div class="form-group">
                <label for="percentage">Referral Percentage(%)</label>
                <input
                  type="number"
                  v-model.number="config.referralPercentage"
                  class="form-control"
                  id="percentage"
                  placeholder="Percentage"
                  required
                />
              </div>

              <div class="row">
                <div class="col-md-4 my-3">
                  <div class="card card-body">
                    <h4 class="card-title mb-4">Daily Plan</h4>
                    <div class="form-group">
                      <label for="name">Name</label>
                      <input
                        type="text"
                        class="form-control"
                        v-model="config.subscriptionPlans.daily.name"
                        placeholder="Plan Name"
                        required
                      />
                    </div>
                    <div class="form-group">
                      <label for="name">Amount</label>
                      <input
                        type="number"
                        class="form-control"
                        v-model.number="config.subscriptionPlans.daily.amount"
                        placeholder="Amount"
                        required
                      />
                    </div>
                    <div class="form-group">
                      <label for="name">Frequency in Minutes</label>
                      <input
                        type="number"
                        class="form-control"
                        v-model.number="config.subscriptionPlans.daily.frequency.minutes"
                        placeholder="Frequency"
                        required
                      />
                    </div>
                  </div>
                </div>

                <div class="col-md-4 my-3">
                  <div class="card card-body">
                    <h4 class="card-title mb-4">Weekly Plan</h4>
                    <div class="form-group">
                      <label for="name">Name</label>
                      <input
                        type="text"
                        class="form-control"
                        v-model="config.subscriptionPlans.weekly.name"
                        placeholder="Plan Name"
                        required
                      />
                    </div>
                    <div class="form-group">
                      <label for="name">Amount</label>
                      <input
                        type="number"
                        class="form-control"
                        v-model.number="config.subscriptionPlans.weekly.amount"
                        placeholder="Amount"
                        required
                      />
                    </div>
                    <div class="form-group">
                      <label for="name">Frequency in Weeks</label>
                      <input
                        type="number"
                        class="form-control"
                        v-model.number="config.subscriptionPlans.weekly.frequency.weeks"
                        placeholder="Frequency"
                        required
                      />
                    </div>
                  </div>
                </div>

                <div class="col-md-4 my-3">
                  <div class="card card-body">
                    <h4 class="card-title mb-4">Monthly Plan</h4>
                    <div class="form-group">
                      <label for="name">Name</label>
                      <input
                        type="text"
                        class="form-control"
                        v-model="config.subscriptionPlans.monthly.name"
                        placeholder="Plan Name"
                        required
                      />
                    </div>
                    <div class="form-group">
                      <label for="name">Amount</label>
                      <input
                        type="number"
                        class="form-control"
                        v-model.number="config.subscriptionPlans.monthly.amount"
                        placeholder="Amount"
                        required
                      />
                    </div>
                    <div class="form-group">
                      <label for="name">Frequency in Months</label>
                      <input
                        type="number"
                        class="form-control"
                        v-model.number="config.subscriptionPlans.monthly.frequency.months"
                        placeholder="Frequency"
                        required
                      />
                    </div>
                  </div>
                </div>

                <div class="col-md-4 my-3">
                  <div class="card card-body">
                    <h4 class="card-title mb-4">Yearly Plan</h4>
                    <div class="form-group">
                      <label for="name">Name</label>
                      <input
                        type="text"
                        class="form-control"
                        v-model="config.subscriptionPlans.yearly.name"
                        placeholder="Plan Name"
                        required
                      />
                    </div>
                    <div class="form-group">
                      <label for="name">Amount</label>
                      <input
                        type="number"
                        class="form-control"
                        v-model.number="config.subscriptionPlans.yearly.amount"
                        placeholder="Amount"
                        required
                      />
                    </div>
                    <div class="form-group">
                      <label for="name">Frequency in Years</label>
                      <input
                        type="number"
                        class="form-control"
                        v-model.number="config.subscriptionPlans.yearly.frequency.years"
                        placeholder="Frequency"
                        required
                      />
                    </div>
                  </div>
                </div>
              </div>

              <div class="text-center">
                <button type="submit" class="btn btn-dark">UPDATE</button>&nbsp;
                <button type="reset" class="btn btn-danger">RESET</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import subscriptionApi from "../../api/admin/config";
import BLoading from "buefy/src/components/loading/Loading";

export default {
  components: { BLoading },
  data() {
    return {
      searchQuery: "",
      config: {},
      loading: false,
      errorMessage: undefined
    };
  },
  methods: {
    updateSubscription() {
      this.loading = true;
      subscriptionApi
        .updateSubscription(this.config)
        .then(this.subsriptionUpdated)
        .catch(this.showErrorToast)
        .finally((this.loading = true));
    },
    resetSubscription() {
      this.loading = true;
      subscriptionApi
        .resetSubscription()
        .then(this.subsriptionUpdated)
        .catch(this.showErrorToast)
        .finally((this.loading = true));
    },

    subsriptionUpdated(data) {
      this.config = data;
      this.loading = false;
      this.$toast.open({
        message: "Subscritption Updated",
        type: "is-success",
        position: "is-top-right",
        queue: false
      });
    },
    showErrorToast(message) {
      this.loading = false;
      this.$snackbar.open({
        message: message,
        type: "is-warning",
        position: "is-top-right",
        indefinite: true,
        queue: false
      });
    }
  },
  beforeMount() {
    subscriptionApi
      .fetch()
      .then(data => (this.config = data))
      .catch(errorMessage => (this.errorMessage = errorMessage))
      .finally(() => (this.loading = false));
  }
};
</script>
<style>
button {
  margin: 5px;
}
</style>