<template>
  <div class="content-wrapper">
    <b-loading :active.sync="loading" :is-full-page="false"></b-loading>

    <div class="row mb-4">
      <div class="col-12 d-flex align-items-center justify-content-between">
        <h4 class="page-title">Recent Transactions</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-12 grid-margin">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <h4 class="card-title">
                <button class="btn btn-success">
                  <download-csv
                    :data="transactions"
                    name="Transactions-Report.csv"
                  >Download CSV Report</download-csv>
                </button>
              </h4>

              <div
                class="btn-toolbar mb-0 d-none d-sm-block"
                role="toolbar"
                aria-label="Toolbar with button groups"
              >
                <div class="form-group mb-0">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="mdi mdi-magnify"></i>
                      </span>
                    </div>
                    <input
                      v-model="searchQuery"
                      type="text"
                      class="form-control"
                      placeholder="Search"
                    />
                  </div>
                </div>
              </div>
            </div>
            <b-modal :active.sync="showInfoModal" :width="381" scroll="keep">
              <TransactionViewModal :data="transactionModalData" />
            </b-modal>
            <b-table
              :data="filteredTransactions"
              :default-sort="['name', 'asc']"
              paginated
              per-page="10"
            >
              <template slot-scope="props">
                <b-table-column width="40" label="#">{{ props.index + 1 }}</b-table-column>
                <b-table-column field="name" label="Name">{{ props.row.account.name }}</b-table-column>
                <b-table-column
                  field="accountType"
                  label="Account Type"
                >{{ props.row.account.type }}</b-table-column>
                <b-table-column field="amount" label="Amount">{{ props.row.amount | formatToNaira}}</b-table-column>
                <b-table-column
                  field="paymentDate"
                  label="Payment Date"
                >{{ parseDate(props.row.paymentDate)}}</b-table-column>
                <b-table-column>
                  <button
                    class="btn btn-success"
                    @click="showInfoModal = true, transactionModalData = props.row"
                  >Info</button>
                </b-table-column>
              </template>
            </b-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import transactionsApi from "../../api/admin/transactions";
import BLoading from "buefy/src/components/loading/Loading";
import BTable from "buefy/src/components/table/Table";
import BTableColumn from "buefy/src/components/table/TableColumn";
import BModal from "buefy/src/components/modal/Modal";
import TransactionViewModal from "@/components/modals/view-transaction";
import moment from "moment";

export default {
  components: {
    BModal,
    BTable,
    BTableColumn,
    BLoading,
    TransactionViewModal
  },
  data() {
    return {
      searchQuery: "",
      transactions: [],
      transactionModalData: [],
      errorMessage: undefined,
      showInfoModal: false,
      loading: false
    };
  },
  methods: {
    parseDate(timestamp) {
      return moment(+timestamp).calendar(null, {
        sameDay: "[Today]",
        nextDay: "[Tomorrow]",
        nextWeek: "[Next ] ddd",
        lastDay: "[Yesterday]",
        lastWeek: "[Last] ddd",
        sameElse: "ddd, Do MMM, YYYY"
      });
    },

    showSuccessToast() {
      this.$toast.open({
        message: "Operation Successful",
        type: "is-success",
        position: "is-top-right",
        queue: false
      });
    },
    showErrorToast(message) {
      this.$snackbar.open({
        message: message,
        type: "is-warning",
        position: "is-top-right",
        indefinite: true,
        queue: false
      });
    }
  },
  computed: {
    filteredTransactions: function() {
      if (this.searchQuery.trim() === "") {
        return this.transactions;
      } else {
        const query = this.searchQuery.toLowerCase();
        return this.transactions.filter(transaction => {
          return (
            transaction.account.name.toLowerCase().indexOf(query) >= 0 ||
            transaction.amount.toString().indexOf(query) >= 0
          );
        });
      }
    }
  },

  filters: {
    formatToNaira(value) {
      return value
        .toLocaleString("en-NG", { style: "currency", currency: "NGN" })
        .slice(0, -3);
    }
  },
  beforeMount() {
    this.loading = true;
    transactionsApi
      .fetch()
      .then(data => (this.transactions = data.transactions))
      .catch(errorMessage => (this.errorMessage = errorMessage))
      .finally(() => (this.loading = false));
  }
};
</script>