<template>
  <div class="content-wrapper">
    <b-loading :active.sync="loading" :is-full-page="false"></b-loading>

    <div class="row mb-4">
      <div class="col-12 d-flex align-items-center justify-content-between">
        <h4 class="page-title">User</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-12 grid-margin">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <h4 class="card-title">
                <router-link to="/admin/my-admins">
                  <button class="btn btn-dark">Admins</button>
                </router-link>&nbsp;
                <button class="btn btn-success">
                  <download-csv :data="Users" name="Users-Report.csv">Download CSV Report</download-csv>
                </button>
              </h4>
              <div
                class="btn-toolbar mb-0 d-none d-sm-block"
                role="toolbar"
                aria-label="Toolbar with button groups"
              >
                <div class="form-group mb-0">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="mdi mdi-magnify"></i>
                      </span>
                    </div>
                    <input
                      v-model="searchQuery"
                      type="text"
                      class="form-control"
                      placeholder="Search"
                    />
                  </div>
                </div>
              </div>
            </div>

            <b-modal :active.sync="showInfoModal" :width="381" scroll="keep">
              <ViewUser :data="userModalData" />
            </b-modal>

            <b-modal :active.sync="showICEModal" :width="381" scroll="keep">
              <ViewUserICE :data="userModalData" />
            </b-modal>

            <b-table
              :paginated="true"
              per-page="10"
              :data="filteredUsers"
              :default-sort="['firstName', 'asc']"
            >
              <template slot-scope="props">
                <b-table-column width="40" label="#">{{ props.index + 1 }}</b-table-column>

                <b-table-column
                  field="firstName"
                  label="Name"
                  sortable
                >{{ `${props.row.firstName} ${props.row.lastName}` }}</b-table-column>

                <b-table-column
                  field="phoneNumber"
                  label="Phone Number"
                  sortable
                >{{ props.row.phoneNumber }}</b-table-column>

                <b-table-column>
                  <button
                    class="btn btn-success"
                    @click="showInfoModal = true, userModalData = props.row"
                  >View</button>
                </b-table-column>

                <b-table-column>
                  <button
                    class="btn btn-success"
                    @click="showICEModal = true, userModalData = props.row"
                  >View ICEs</button>
                </b-table-column>

                <b-table-column>
                  <button
                    class="btn"
                    :class="{'btn-success': props.row.suspended, 'btn-danger': !props.row.suspended}"
                    @click="promptChangeAccess(props.row)"
                    :disabled="changingAccess"
                  >
                    <span v-if="props.row.suspended">Activate</span>
                    <span v-else>Suspend</span>
                  </button>
                </b-table-column>
              </template>
            </b-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import userApi from "../../api/admin/users";
import BLoading from "buefy/src/components/loading/Loading";
import BTable from "buefy/src/components/table/Table";
import BTableColumn from "buefy/src/components/table/TableColumn";
import BModal from "buefy/src/components/modal/Modal";
import ViewUser from "../../components/modals/show-user-info";
import ViewUserICE from "../../components/modals/show-user-ices";

export default {
  components: { BModal, BTable, BTableColumn, BLoading, ViewUser, ViewUserICE },
  data() {
    return {
      Users: [],
      userModalData: {},
      searchQuery: "",
      errorMessage: undefined,
      loading: false,
      changingAccess: false,
      showInfoModal: false,
      showICEModal: false
    };
  },
  methods: {
    promptChangeAccess(value) {
      console.log(value);
      this.$dialog.confirm({
        message: value.suspended
          ? "Are you sure you want to <b>Activate</b> this user?"
          : "Are you sure you want to <b>Pause</b> this user?",
        confirmText: "Yes",
        type: value.suspended ? "is-success" : "is-danger",
        hasIcon: true,
        onConfirm: () => this.changePaused(value)
      });
    },

    changePaused(value) {
      console.log(value);
      this.changingAccess = true;
      value.suspended
        ? userApi
            .activateUser(value.phoneNumber)
            .then(data => (this.Users = data.users))
            .catch(this.showErrorToast)
            .finally(() => (this.changingAccess = false))
        : userApi
            .suspendUser(value.phoneNumber)
            .then(data => (this.Users = data.users))
            .catch(this.showErrorToast)
            .finally(() => (this.changingAccess = false));
    },

    showSuccessToast() {
      this.$toast.open({
        message: "Operation Successful",
        type: "is-success",
        position: "is-top-right",
        queue: false
      });
    },
    showErrorToast(message) {
      this.$snackbar.open({
        message: message,
        type: "is-warning",
        position: "is-top-right",
        indefinite: true,
        queue: false
      });
    }
  },
  computed: {
    filteredUsers: function() {
      if (this.searchQuery.trim() === "") {
        return this.Users;
      } else {
        const query = this.searchQuery.toLowerCase();
        return this.Users.filter(user => {
          return (
            user.firstName.toLowerCase().indexOf(query) >= 0 ||
            user.lastName.toLowerCase().indexOf(query) >= 0
          );
        });
      }
    }
  },
  beforeMount() {
    this.loading = true;
    userApi
      .fetch()
      .then(data => (this.Users = data.users))
      .catch(errorMessage => (this.errorMessage = errorMessage))
      .finally(() => (this.loading = false));
  }
};
</script>